{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}Schedule{% endblock %}
{% block base_subhead_heading %} Schedule {% endblock %}


{% block base_css %}

    <style>
        .md-meal-type {
            font-size: 14px;
            font-weight: 600;
            opacity: .6;
        }

        .md-meal-planner-popup .mbsc-popup .mbsc-popup-header {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .md-meal-planner-cont {
            position: relative;
            padding-left: 34px;
            text-align: left;
        }

        .md-meal-planner-title {
            font-size: 20px;
        }

        .md-meal-planner-kcal {
            color: #929292;
        }

        .md-meal-planner-icon {
            position: absolute;
            left: 0;
        }

        .md-meal-planner-calendar.mbsc-calendar .mbsc-schedule-event-all-day-inner {
            height: 40px;
            display: flex;
            align-items: center;
        }

        .md-meal-planner-calendar .md-meal-planner-event-title {
            font-size: 12px;
        }

        .md-meal-planner-calendar .md-meal-planner-event-desc {
            opacity: .6;
        }

        .md-meal-planner-popup .mbsc-segmented-item:first-child .mbsc-selected.mbsc-material,
        .md-meal-planner-popup .mbsc-segmented-item:first-child .mbsc-selected.mbsc-windows,
        .md-meal-planner-popup .mbsc-segmented-item:first-child .mbsc-segmented-selectbox-inner {
            background: #f08786;
        }

        .md-meal-planner-popup .mbsc-segmented-item:nth-child(2) .mbsc-selected.mbsc-material,
        .md-meal-planner-popup .mbsc-segmented-item:nth-child(2) .mbsc-selected.mbsc-windows,
        .md-meal-planner-popup .mbsc-segmented-item:nth-child(2) .mbsc-segmented-selectbox-inner {
            background: #8abe89;
        }

        .md-meal-planner-popup .mbsc-segmented-item:nth-child(3) .mbsc-selected.mbsc-material,
        .md-meal-planner-popup .mbsc-segmented-item:nth-child(3) .mbsc-selected.mbsc-windows,
        .md-meal-planner-popup .mbsc-segmented-item:nth-child(3) .mbsc-segmented-selectbox-inner {
            background: #99d3ef;
        }

        .md-meal-planner-popup .mbsc-segmented-item:nth-child(4) .mbsc-selected.mbsc-material,
        .md-meal-planner-popup .mbsc-segmented-item:nth-child(4) .mbsc-selected.mbsc-windows,
        .md-meal-planner-popup .mbsc-segmented-item:nth-child(4) .mbsc-segmented-selectbox-inner {
            background: #f0ce8e;
        }

        .md-meal-planner-popup .mbsc-segmented-item:last-child .mbsc-selected.mbsc-material,
        .md-meal-planner-popup .mbsc-segmented-item:last-child .mbsc-selected.mbsc-windows,
        .md-meal-planner-popup .mbsc-segmented-item:last-child .mbsc-segmented-selectbox-inner {
            background: #b48bce;
        }
    </style>
    <link href="{% static 'mobi/css/mobiscroll.jquery.min.css' %}" rel="stylesheet"/>
{% endblock %}


{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex justify-content-between">
                            <h3></h3>
                            {% csrf_token %}
                            <span>
                                    <a href="{% url 'admins:shift-add' %}" class="btn btn-primary">
                                        Create Shift
                                    </a>
                                </span>
                        </div>
                    </div>
                    <div id="news-feed-index-table" data-livecount="0">
                        <form action="" method="GET" class="row m-0 mb-2">
                            <div class="col-12 m-0 p-0">
                                <div class="row m-0 p-0">
                                    <div class="col-sm-12 mb-md-0 p-0">
                                        <div class="form-group m-0 px-2 py-1 border rounded">
                                            <i class="fa fa-search mr-2"></i>
                                            <input class="border-0 bg-transparent w-75" type="text" name="search"
                                                   placeholder="Search employee" value=""
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="text-muted mb-2"><small>Last updated: 00:00:00 00/00/0000&nbsp;&nbsp;<a href="#">(paused)</a>&nbsp;&nbsp;</small>
                        </p>
                        <hr>
                        <div id="demo-meal-planner" class="md-meal-planner-calendar"></div>

                        <div id="meal-planner-popup" class="md-meal-planner-popup">
                            <div id="meal-type-segmented" class="mbsc-form-group"></div>
                            <div class="mbsc-form-group">
                                <label>
                                    Name
                                    <input mbsc-input id="meal-name-input"/>
                                </label>
                                <label>
                                    Calories
                                    <input mbsc-input id="meal-calories-input" type="number"/>
                                </label>
                                <label>
                                    Notes
                                    <textarea mbsc-textarea id="meal-notes-textarea"></textarea>
                                </label>
                            </div>
                            <div class="mbsc-button-group">
                                <button class="mbsc-button-block" id="meal-delete" mbsc-button data-color="danger"
                                        data-variant="outline">Delete meal
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_internal_scripts %}
    <script src='https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js'></script>
    <script src="{% static 'mobi/js/mobiscroll.jquery.min.js' %}"></script>
{% endblock %}

{% block base_external_scripts %}
    <script>

        mobiscroll.setOptions({
            theme: 'ios',
            themeVariant: 'light'
        });

        $(function () {
            var calendar;
            var popup;
            var oldMeal;
            var tempMeal;
            var deleteMeal;
            var formatDate = mobiscroll.util.datetime.formatDate;
            var $name = $('#meal-name-input');
            var $calories = $('#meal-calories-input');
            var $notes = $('#meal-notes-textarea');
            var $deleteButton = $('#meal-delete');
            var $types = $('#meal-type-segmented');

            var types = [
                    {
                        id: '0',
                        name: 'Not assigned',
                        color: 'red',
                        title: 'Shifts are not assigned',
                        icon: '🥨'
                    }
                ]
            {% for object in employees %}
                    types.push({
                        id: '{{ object.id }}',
                        name: '{{ object }}',
                        color: 'green',
                        title: 'Employee',
                        icon: '🥨'

                    });
                {% endfor %}

            function addMealPopup() {
                // hide delete button inside add popup
                $deleteButton.hide();
                deleteMeal = true;
                restoreMeal = false;

                // set popup header text and buttons for adding
                popup.setOptions({
                    headerText: '<div>New meal</div><div class="md-meal-type">' +
                        formatDate('DDDD, DD MMMM YYYY', new Date(tempMeal.start)) + '</div>',
                    buttons: [
                        'cancel',
                        {
                            text: 'Add',
                            keyCode: 'enter',
                            handler: function () {
                                calendar.updateEvent(tempMeal);

                                deleteMeal = false;
                                popup.close();
                            },
                            cssClass: 'mbsc-popup-button-primary'
                        }
                    ]
                });

                // fill popup with a new event data
                $name.mobiscroll('getInst').value = tempMeal.title;
                $calories.mobiscroll('getInst').value = '';
                $notes.mobiscroll('getInst').value = '';

                $('.meal-planner-type').each(function (i, elm) {
                    $(elm).mobiscroll('getInst').checked = +elm.value == tempMeal.resource;
                });

                popup.open();
            }

            function editMealPopup(args) {
                var ev = args.event;
                var resource = types.find(function (obj) {
                    return obj.id === ev.resource
                });

                // show delete button inside edit popup
                $deleteButton.show();

                deleteMeal = false;
                restoreMeal = true;

                // // set popup header text and buttons for editing
                popup.setOptions({
                    headerText: '<div>' + resource.name + '</div><div class="md-meal-type">' +
                        formatDate('DDDD, DD MMMM YYYY', new Date(ev.start)) + '</div>',
                    buttons: [
                        'cancel',
                        {
                            text: 'Save',
                            keyCode: 'enter',
                            handler: function () {
                                // update event with the new properties on save button click
                                calendar.updateEvent({
                                    id: ev.id,
                                    title: tempMeal.title,
                                    calories: tempMeal.calories,
                                    notes: tempMeal.notes,
                                    start: ev.start,
                                    end: ev.end,
                                    resource: tempMeal.resource,
                                    allDay: true,
                                });

                                restoreMeal = false;
                                popup.close();
                            },
                            cssClass: 'mbsc-popup-button-primary'
                        }
                    ]
                });

                // fill popup with the selected event data
                $name.mobiscroll('getInst').value = ev.title || '';
                $calories.mobiscroll('getInst').value = ev.calories || '';
                $notes.mobiscroll('getInst').value = ev.notes || '';

                $('.meal-planner-type').each(function (i, elm) {
                    $(elm).mobiscroll('getInst').checked = +elm.value == tempMeal.resource;
                });

                popup.open();
            }

            var calendar = $('#demo-meal-planner').mobiscroll().eventcalendar({
                view: {
                    timeline: {
                        type: 'week',
                        eventList: true
                    }
                },
                resources: types,
                dragToCreate: false,
                dragToResize: false,
                dragToMove: true,
                clickToCreate: true,
                extendDefaultEvent: function (ev) {
                    return {
                        title: 'New meal',
                        allDay: true
                    };
                },
                onEventCreate: function (args, inst) {
                    // store temporary event
                    tempMeal = args.event;
                    setTimeout(function () {
                        addMealPopup();
                    }, 100);
                },
                onEventClick: function (args, inst) {
                    oldMeal = $.extend({}, args.event);
                    tempMeal = args.event;

                    if (!popup.isVisible()) {
                        editMealPopup(args);
                    }
                },
                renderResource: function (resource) {
                    return '<div class="md-meal-planner-cont">' +
                        '<div class="md-meal-planner-title" style="color:' + resource.color + '">' +
                        '<span class="md-meal-planner-icon">' + resource.icon + '</span>' + resource.name + '</div>' +
                        '</div>';
                },
                renderScheduleEventContent: function (args) {
                    var event = args.original;
                    return '<div class="md-meal-planner-event">' +
                        '<div class="md-meal-planner-event-title">' + event.title + '</div>' +
                        '<div class="md-meal-planner-event-desc">' + event.start.time +" - "+ event.end.time + '</div>' +
                        '</div>';
                },
                onPageLoading: function (event, inst) {
                        var year = event.firstDay.getFullYear(),
                            month = event.firstDay.getMonth(),
                            day = event.firstDay.getDate();

                        $.getJSON('{% url 'admins:admins-api:shift-list' %}', function (data) {
                            var events = [];

                            console.log(data)

                            for (var i = 0; i < data.length; i++) {
                                var event = data[i];

                                {#let start = (event.shift.start_time).split(":")#}
                                {#let end = (event.shift.start_time).split(":")#}

                                events.push({
                                    start: event.shift_date + "T" + event.shift.start_time,
                                    end: event.shift_date + "T" + event.shift.end_time,
                                    title: "hello",
                                    resource: event.shift.employee == null ? 0 : event.shift.employee.id,
                                    id: event.shift.id
                                });
                            }

                            inst.setEvents(events);
                            mobiscroll.toast({
                                message: 'shifts are updated'
                            });
                        }, 'jsonp');
                    }
            }).mobiscroll('getInst');



            var popup = $('#meal-planner-popup').mobiscroll().popup({
                display: 'bottom',
                contentPadding: false,
                fullScreen: true,
                onClose: function () {
                    if (deleteMeal) {
                        calendar.removeEvent(tempMeal);
                    } else if (restoreMeal) {
                        calendar.updateEvent(oldMeal);
                    }
                },
                responsive: {
                    medium: {
                        display: 'center',
                        width: 400,
                        fullScreen: false,
                        touchUi: false,
                        showOverlay: false
                    }
                }
            }).mobiscroll('getInst');

            function getTypes() {
                var data = [];

                for (var i = 0; i < types.length; ++i) {
                    var type = types[i];
                    data.push({
                        text: type.name,
                        value: type.id
                    })
                }
                return data;
            }

            function appendTypes() {
                var segmented = '<div mbsc-segmented-group>';

                for (var i = 0; i < types.length; ++i) {
                    var type = types[i];
                    segmented += '<label>' + type.name + '<input type="radio" mbsc-segmented name="meal-planner-type" value="' +
                        type.id + '" class="meal-planner-type" ' + '/></label>';
                }

                segmented += '</div>';
                $types.append(segmented);
                mobiscroll.enhance($types[0]);
            }

            appendTypes();

            $('.meal-planner-type').on('change', function (ev) {
                tempMeal.resource = +ev.target.value;
            });

            $name.on('change', function (ev) {
                tempMeal.title = ev.target.value;
            });

            $calories.on('change', function (ev) {
                tempMeal.calories = ev.target.value;
            });

            $notes.on('change', function (ev) {
                tempMeal.notes = ev.target.value;
            });

            $deleteButton.on('click', function () {
                // delete current event on button click
                calendar.removeEvent(tempMeal);

                // save a local reference to the deleted event
                var deletedMeal = tempMeal;

                popup.close();

                mobiscroll.snackbar({
                    button: {
                        action: function () {
                            calendar.addEvent(deletedMeal);
                        },
                        text: 'Undo'
                    },
                    duration: 10000,
                    message: 'Meal deleted'
                });
            });

        });
    </script>
{% endblock %}