python-decouple
markdown
Faker

django
django-environ
django-ckeditor
django-crispy-forms
djangorestframework
django-filter
django-colorfield
django-resized
django-filter
django-widget-tweaks
django-jsonview
django-ses
django-browser-reload
django-notifications-hq

folium
crispy-bootstrap5

# python -m pip install --upgrade Pillow >>> install pillow with this