django-ckeditor
django
django-crispy-forms
python-decouple
djangorestframework
markdown
django-filter
django-colorfield
Faker
django-resized
django-filter
python-decouple
django-environ
django-widget-tweaks
django-jsonview
# python -m pip install --upgrade Pillow >>> install pillow with this