{% extends 'core/base.html' %}
{% load static %}

{% block base_no_body %}
    <body class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
        <div class="container container-tight py-2">
            {% block auth_org %}
                <div class="text-center mb-4">
                    <a href="." class="navbar-brand navbar-brand-autodark">
                        <img src="{% static 'required/images/national-fm-logo.png' %}" height="80"  alt="">
                    </a>
{#                    <p class="mb-0 h1 font-"><b>National FM</b></p>#}
                    <p class="mb-0 text-muted"><b>National FM Services LTD</b></p>
                </div>
            {% endblock %}
            {% block auth_content %}

            {% endblock %}
        </div>
    </div>

    <!-- Tabler Core -->
    <script src="{% static 'admin/js/tabler.min.js' %}?1668287865" defer></script>
    <script src="{% static 'admin/js/demo.min.js' %}?1668287865" defer></script>

    </body>
{% endblock %}