{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>
        {% block base_title %}
            Staff Manager | {% block base_subtitle %}{% endblock %}
        {% endblock %}
    </title>

    {# GLOBAL CSS #}
    <link rel="shortcut icon" href="{% static 'required/images/logo-staff-dark-100.png' %}">
    <link href="{% static 'admin/css/tabler.min.css' %}?1668287865" rel="stylesheet"/>
    <link href="{% static 'admin/css/tabler-flags.min.css' %}?1668287865" rel="stylesheet"/>
    <link href="{% static 'admin/css/tabler-payments.min.css' %}?1668287865" rel="stylesheet"/>
    <link href="{% static 'admin/css/tabler-vendors.min.css' %}?1668287865" rel="stylesheet"/>
    <link href="{% static 'admin/css/demo.min.css' %}?1668287865" rel="stylesheet"/>
    <link href="{% static 'core/css/icons.css' %}" rel="stylesheet"/>
    <style>
        @import url('https://rsms.me/inter/inter.css');

        :root {
            --tblr-font-sans-serif: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto,
            Helvetica Neue, sans-serif;
        }
    </style>

    {# INTERNAL CSS #}
    {% block base_css %}

    {% endblock base_css %}

</head>
{% block base_no_body %}
    <body>
    <script src="{% static 'admin/js/demo-theme.min.js' %}?1668287865"></script>

    <div class="page">

        {% block base_header %}
            {% include 'core/include/header.html' %}
        {% endblock %}

        <div class="page-wrapper">
            {% block base_page_header %}
                <div class="page-header d-print-none mb-2">
                    <div class="container-xl">
                        <div class="row g-2 align-items-center">
                            <div class="col">
                                <!-- Page pre-title -->
                                <div class="page-pretitle">
                                    {% block base_subhead_paragraph %}
                                    {% endblock base_subhead_paragraph %}
                                </div>
                                <h2 class="page-title">
                                    {% block base_subhead_heading %}
                                    {% endblock base_subhead_heading %}
                                </h2>
                            </div>

                            <div class="col-auto ms-auto d-print-none">
                                <div class="btn-list" style="padding-right: 15px;">
                                    {% block base_subhead_button %}

                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-deck row-cards">

                        {% include 'core/include/messages.html' %}
                        {% block base_content %}

                        {% endblock %}

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="example-text-input"
                               placeholder="Your report name">
                    </div>
                    <label class="form-label">Report type</label>
                    <div class="form-selectgroup-boxes row mb-3">
                        <div class="col-lg-6">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="report-type" value="1" class="form-selectgroup-input" checked>
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Simple</span>
                      <span class="d-block text-muted">Provide only basic data needed for the report</span>
                    </span>
                  </span>
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <label class="form-selectgroup-item">
                                <input type="radio" name="report-type" value="1" class="form-selectgroup-input">
                                <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Advanced</span>
                      <span class="d-block text-muted">Insert charts and additional advanced analyses to be inserted in the report</span>
                    </span>
                  </span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="mb-3">
                                <label class="form-label">Report url</label>
                                <div class="input-group input-group-flat">
                    <span class="input-group-text">
                      https://tabler.io/reports/
                    </span>
                                    <input type="text" class="form-control ps-0" value="report-01" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label">Visibility</label>
                                <select class="form-select">
                                    <option value="1" selected>Private</option>
                                    <option value="2">Public</option>
                                    <option value="3">Hidden</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Client name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Reporting period</label>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label class="form-label">Additional information</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Cancel
                    </a>
                    <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <line x1="12" y1="5" x2="12" y2="19"/>
                            <line x1="5" y1="12" x2="19" y2="12"/>
                        </svg>
                        Create new report
                    </a>
                </div>
            </div>
        </div>
    </div>


    {# GLOBAL SCRIPTS #}

    <!-- Tabler Core -->
    <script src="{% static 'required/js/jquery-3.6.2.slim.min.js' %}"></script>
    <script src="{% static 'admin/js/tabler.min.js' %}?1668287865" defer></script>
    <script src="{% static 'admin/js/demo.min.js' %}?1668287865" defer></script>
    {# INTERNAL SCRIPTS #}
    {% block base_internal_scripts %}

    {% endblock base_internal_scripts %}
    </body>
{% endblock %}
</html>

{# EXTERNAL SCRIPTS #}
{% block base_external_scripts %}

{% endblock base_external_scripts %}