{% extends 'core/student/base.html' %}
{% load static %}

{% block base_title %}
    {{ request.user.first_name }} {{ request.user.last_name }} | Dashboard
{% endblock %}

{% block base_content %}
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body border-bottom">

                    <div class="fro_profile">
                        <div class="row">
                            <div class="col-sm-4 mb-3 mb-lg-0">
                                <div class="fro_profile-main">
                                    <div class="fro_profile-main-pic">
                                        <img src="{% static 'core/images/users/user-1.jpg' %}" class="rounded-circle">
                                    </div>
                                    <div class="fro_profile_user-detail">
                                        <h5 class="fro_user-name">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
                                        <p class="mb-0 fro_user-name-post">
                                            <strong>Grade</strong> 6th
                                        </p>
                                        <p class="mb-0 fro_user-name-post">
                                            <strong>Advisor</strong> SK Usama
                                        </p><br>
                                        <p class="mb-0 fro_user-name-post">
                                            <i class="fa fa-check-circle text-success"></i>
                                            Active
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="float-right"><i class="dripicons-question font-24 text-secondary"></i>
                    </div>
                    <span class="badge badge-danger">Quizes</span>
                    <h3 class="font-weight-bold">8/10</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="float-right"><i class="dripicons-article font-20 text-secondary"></i></div>
                    <span class="badge badge-info">Assignments</span>
                    <h3 class="font-weight-bold">10/12</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="float-right"><i class="dripicons-scale font-20 text-secondary"></i>
                    </div>
                    <span class="badge badge-warning">Grade Status</span>
                    <h3 class="font-weight-bold">2/41</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="float-right"><i class="dripicons-graph-bar font-20 text-secondary"></i>
                    </div>
                    <span class="badge badge-success">Overall Performance</span>
                    <h3 class="font-weight-bold">900/1200</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body"><h4 class="mt-0 header-title">Attendence</h4>
                    <div class="apexchart-wrapper chart-demo">
                        <div id="e-dash1" class="chart-gutters"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{{% block base_internal_scripts %}
    <script src="{% static 'core/plugins/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'core/pages/jquery.dashboard-3.init.js' %}"></script>
{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {
            $('#models_c').modal('show');
        });
    </script>
{% endblock %}