{% load static %}

<div class="sidebar-user media">
    <img src="{% static 'core/images/users/user-1.jpg' %}" alt="user"
         class="rounded-circle img-thumbnail mb-1">
    <span class="online-icon"><i class="mdi mdi-record text-success"></i></span>
    <div class="media-body">
        <h5 class="text-light">
            User Full Name
        </h5>

        <ul class="list-unstyled list-inline mb-0 mt-2">
            <li class="list-inline-item">
                <a href="{% url 'core:teacher-app:dashboard' %}" class="">
                    <i class="mdi mdi-account text-light"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{% url 'core:teacher-app:settings' %}" class="">
                    <i class="mdi mdi-settings text-light"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{% url 'core:logout' %}" class="">
                    <i class="mdi mdi-power text-danger"></i>
                </a>
            </li>
        </ul>
    </div>
</div>