{% extends 'core/auth_base.html' %}
{% load static %}

{% block base_title %}
    Login
{% endblock %}


{% block auth_content %}

    <div class="card card-md">
        <div class="card-body">
            <h2 class="h2 text-center mb-4">Login to your account</h2>
            <form method="post" autocomplete="off">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-block alert-danger">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                {# USERNAME | PASSWORD #}
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input name="username" id="id_username" class="form-control" placeholder="your@email.com" autocomplete="off">
                </div>
                <div class="mb-2">
                    <label class="form-label">Password
                        <span class="form-label-description">
                            <a href="">I forgot password</a>
                        </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input type="password" class="form-control" name="password" id="id_password" placeholder="Your password" autocomplete="off">
                        <span class="input-group-text">
                            <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2"/>
                                    <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"/>
                                </svg>
                            </a>
                        </span>
                    </div>
                </div>

                {# BUTTON | TEXTS #}
                <div class="mb-2">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input"/>
                        <span class="form-check-label">Remember me on this device</span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>

            </form>
        </div>
    </div>
    <div class="text-center text-muted mt-3">
        All staff and employees can login here? System detects your role and redirects you towards your portal
    </div>

{% endblock %}