{% extends 'core/global_base.html' %}
{% load static %}

{% block base_title %}
    Login
{% endblock %}


{% block base_content %}

    <div class="vh-100 bg-light">
        <div class="row justify-content-center pb-4">
            <div class="col-sm-4 text-center">

                <img
                        src="{% static 'core/logo-staff-dark.png' %}"
                        height="100" alt="logo"
                        class="mt-5 mb-0"
                >
                <h2 class="mb-0 font-weight-bolder">The Staff Manager</h2>
                <p class=" mb-0">Workforce management, employee engagement & expert support</p>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-4 pr-0">
                <div class="card mb-0 shadow-lg ">
                    <div class="card-body">
                        <div class="px-3">

                            <form class="form-horizontal my-4" action="" method="post">
                                {% csrf_token %}

                                {% if form.errors %}
                                    <div class="alert alert-block alert-danger">
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                {{ error }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div class="form-group" id="div_id_username">
                                    <label for="id_username">Username<span class="asteriskField">*</span></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="mdi mdi-account-outline font-16"></i>
                                        </span>
                                        </div>
                                        <input name="username" autofocus autocapitalize="none" autocomplete="username"
                                               type="text" class="form-control" id="id_username"
                                               placeholder="Enter your username">
                                    </div>
                                </div>

                                <div class="form-group" id="div_id_password">
                                    <label for="id_password">Password</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">
                                            <i class="mdi mdi-key font-16"></i>
                                        </span>
                                        </div>
                                        <input type="password" class="form-control" id="id_password"
                                               placeholder="Enter password" name="password"
                                               autocomplete="current-password">
                                    </div>
                                </div>
                                {% if request.GET.next %}
                                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                                {% endif %}

                                <div class="form-group row mt-4">
                                    <div class="col-sm-6">
                                        <div class="custom-control custom-checkbox"><input type="checkbox"
                                                                                           class="custom-control-input"
                                                                                           id="customControlInline">
                                            <label
                                                    class="custom-control-label" for="customControlInline">Remember
                                                me</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-right"><a
                                            href="{% url 'account_reset_password' %}"
                                            class="text-muted font-13"><i class="mdi mdi-lock"></i> Forgot your
                                        password?</a>
                                    </div>
                                </div>
                                <div class="form-group mb-0 row">
                                    <div class="col-12 mt-2">
                                        <button type="submit"
                                                class="btn btn-primary btn-block waves-effect waves-light">
                                            Log In <i class="fas fa-sign-in-alt ml-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {#                    <div class="account-social text-center"><h6 class="my-4">Need Help</h6>#}
                        {##}
                        {#                    </div>#}
                        {#                    <div class="m-3 bg-light p-3 text-dark">#}
                        {#                        <p class="">#}
                        {#                            <b>Just login with your credentials system#}
                        {#                                automatically detect your role your redirects you towards your application.</b>#}
                        {#                        </p>#}
                        {#                    </div>#}

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock base_content %}