{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}Dashboard{% endblock %}
{% block base_subhead_heading %} Dashboard {% endblock %}
{% block base_subhead_paragraph %}....{% endblock %}
{% block base_subhead_button %}
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9"><h4 class="mt-0">Hello ! {{ request.user.get_user_name }}</h4>
                            <p class="text-muted">Hope you are doing good ! Have a nice day.</p>
                            <div class="row justify-content-center">
                                <div class="col-md-3">
                                    <div class="card mb-0">
                                        <div class="card-body">
                                            <div class="float-right"><i
                                                    class="dripicons-user-group font-24 text-secondary"></i></div>
                                            <span class="badge badge-danger">Total Shifts</span>
                                            <h3 class="font-weight-bold">00</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-0">
                                        <div class="card-body">
                                            <div class="float-right"><i
                                                    class="dripicons-cart font-20 text-secondary"></i></div>
                                            <span class="badge badge-info">Running Shifts</span>
                                            <h3 class="font-weight-bold">00</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-0">
                                        <div class="card-body">
                                            <div class="float-right"><i
                                                    class="dripicons-jewel font-20 text-secondary"></i></div>
                                            <span class="badge badge-warning">Completed Shifts</span>
                                            <h3 class="font-weight-bold">00</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card mb-0">
                                        <div class="card-body">
                                            <div class="float-right"><i
                                                    class="dripicons-wallet font-20 text-secondary"></i></div>
                                            <span class="badge badge-success">--</span>
                                            <h3 class="font-weight-bold">00</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 align-self-center">
                            <img src="{% static 'core/images/dash-board-image.svg' %}" alt="" class="img-fluid"></div>
                    </div>
                </div><!--end card-body-->
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="media">
                                <div class="media-body align-self-center">
                                    <p class="mb-0 text-muted">
                                        Check call arrived from administration please confirm your presence by pressing to button to right
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 align-self-center text-center">
                            <button class="btn btn-sm btn-block btn-success">
                                <i class="fa fa-check-circle"></i> Mark me as available
                            </button>
                        </div>
                    </div>
                </div><!--end card-body--></div>

            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0 card-title">
                        <b>Your shifts</b>
                    </p>
                </div>
                <div class="card-body">

                    {% if shifts %}

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Client</th>
                                    <th>Charge Rate</th>
                                    <th>Pay Rate</th>
                                    <th>Days</th>
                                    <th>-</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in shifts %}
                                    <tr>
                                        <td>{{ object.get_job_type_display }}</td>
                                        <td>{{ object.start_date }}</td>
                                        <td>{{ object.end_date }}</td>
                                        <td>{{ object.start_time }}</td>
                                        <td>{{ object.end_time }}</td>
                                        <td>{{ object.client.name }}</td>
                                        <td>{{ object.charge_rate }}</td>
                                        <td>{{ object.pay_rate }}</td>
                                        <td>{{ object.shiftday_set.count }}</td>
                                        <th>
                                            <a href="{% url 'employees:shift-detail' object.pk %}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </th>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    {% else %}
                        <p class="mb-0 text-danger">
                            <b>
                                <i class="fa fa-exclamation-circle"></i>
                                No active shifts available for now
                            </b>
                        </p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}