{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}admins | Shift {{ object }}{% endblock %}
{% block base_subhead_heading %} Shift {{ object }}{% endblock %}
{% block base_subhead_paragraph %}Detail down description of Shift {{ object }}.{% endblock %}
{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'employees:shift-list' %}"><i class="fa fa-arrow-left"></i> View shifts</a>
{% endblock %}


{% block base_content %}

    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body border-bottom text-center">
                    <iframe src="https://embed.lottiefiles.com/animation/101467" height="200" class="border-0"></iframe>
                    <p class="mb-1 text-primary">
                        <b>{{ object.position.name }}</b>
                    </p>
                    <p class="mb-0 text-muted">
                        <b>({{ object.site.name }})</b>
                    </p>
                    <p class="mb-0">
                        {{ object.start_date }} - {{ object.end_date }}
                    </p>
                    <p class="mb-0">
                        {{ object.start_time }} - {{ object.end_time }}
                    </p>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center text-center">
                        <div class="col">
                            <h1><i class="fa fa-list"></i></h1>
                            <p class="mb-0 small">Type and Repeat policy</p>
                            <p class="mb-0">
                                <b>{{ object.get_job_type_display }} - {{ object.get_repeat_policy_display }}</b></p>
                        </div>

                        <div class="col">
                            <h1><i class="fa fa-building"></i></h1>
                            <p class="mb-0 small">Client</p>
                            <p class="mb-0"><b>{{ object.client.name }}</b></p>
                        </div>
                        <div class="col">
                            <h1><i class="fa fa-dollar-sign"></i></h1>
                            <p class="mb-0 small">Pay</p>
                            <p class="mb-0"><b>$100</b></p>
                        </div>
                        <div class="col">
                            <h1><i class="fa fa-calendar-check"></i></h1>
                            <p class="mb-0 small">Shift Days</p>
                            <p class="mb-0"><b>{{ object.shiftday_set.count }}</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0"><b>Shift Days</b></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="table">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Shift Time</th>
                                    <th>Billed Time</th>
                                    <th>Shift Hours</th>
                                    <th>Active Hours</th>
                                    <th>Extra Hours</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object.get_shifts %}
                                    <tr>
                                        <td>{{ object.shift_date }}</td>
                                        <td>{{ object.shift_end_date }}</td>
                                        <td>{{ object.shift.start_time }}</td>
                                        <td>{{ object.shift.end_time }}</td>
                                        <td>
                                            {{ object.shift_hours }}
                                        </td>
                                        <td>
                                            {{ object.worked_hours }}
                                        </td>
                                        <td>
                                            {{ object.extra_hours }}
                                        </td>
                                        <td id="btn-div-{{ object.pk }}">
                                            {% if object.get_shift_action == "awa" %}
                                                <span class="badge badge-light">
                                                    <i class="mdi mdi-exclamation"></i> Awaiting
                                                </span>
                                            {% elif object.get_shift_action == "run" %}
                                                <span class="badge badge-primary">
                                                    <i class="mdi mdi-run"></i> Running
                                                </span>
                                            {% elif object.get_shift_action == "com" %}
                                                <span class="badge badge-success">
                                                    <i class="mdi mdi-call-missed"></i> completed
                                                </span>
                                            {% else %}
                                                <span class="badge badge-danger">
                                                    <i class="mdi mdi-call-missed"></i> Missed
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>

        </div>

        <div class="col-sm-3">

            {% if object.repeat_policy == 'w' %}

                <div class="card">
                    <div class="card-body border-bottom">
                        <p class="mb-0 card-title"><b>Week Days</b></p>
                    </div>
                    <div class="card-body border-bottom">
                        <p class="mb-0">
                            {% if '0' in object.week_days %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                            {% endif %} | Monday
                        </p>

                        <p class="mb-0">
                            {% if '1' in object.week_days %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                            {% endif %} | Tuesday
                        </p>

                        <p class="mb-0">
                            {% if '2' in object.week_days %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                            {% endif %} | Wednesday
                        </p>

                        <p class="mb-0">
                            {% if '3' in object.week_days %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                            {% endif %} | Thursday
                        </p>

                        <p class="mb-0">
                            {% if '4' in object.week_days %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                            {% endif %} | Friday
                        </p>

                        <p class="mb-0">
                            {% if '5' in object.week_days %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                            {% endif %} | Saturday
                        </p>
                        <p class="mb-0">
                            {% if '6' in object.week_days %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                            {% endif %} | Sunday
                        </p>
                    </div>
                </div>

            {% elif object.repeat_policy == 'd' %}
                <div class="card">
                    <div class="card-body border-bottom">
                        <p class="mb-0 card-title"><b>Week Days</b></p>
                    </div>
                    <div class="card-body border-bottom">
                        Shifts depends upon some <code>selected dates</code>, you can view the shift days on left/above.
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-body border-bottom">
                        <p class="mb-0 card-title"><b>Regular Shifts</b></p>
                    </div>
                    <div class="card-body border-bottom">
                        Shifts are of regular type means each day is included as a shift day from <code>start data</code> to <code>end date</code>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}