{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}...{% endblock %}
{% block base_subhead_heading %}...{% endblock %}
{% block base_subhead_paragraph %}
    Detail down description
{% endblock %}

{% block base_subhead_button %}
    <a class="btn btn-primary"
       href="{% url 'staffs:dashboard' %}">
        <i class="fa fa-arrow-left"></i> Back To Dashboard
    </a>
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0 card-title"><b>Class Information</b></p>
                </div>
                <div class="card-body">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}