{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}...{% endblock %}
{% block base_subhead_heading %}...{% endblock %}
{% block base_subhead_paragraph %}...{% endblock %}

{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'staffs:dashboard' %}"><i
            class="fa fa-arrow-left"></i> Back to Dashboard</a>
{% endblock %}


{% block base_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0 card-title">
                        <b>List</b>
                    </p>
                </div>
                <div class="card-body" id="results">
                    {% if 1 == 1 %}

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                <tr>
                                    <th>Student</th>
                                    <th>Exam1</th>
                                    <th>Exam2</th>
                                    <th>Exam3</th>
                                    <th>Exam4</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for result in '1234356'|make_list %}

                                    <tr>
                                        <td>...</td>
                                        <td>
                                            ...
                                        </td>
                                        <td>...</td>
                                        <td>
                                            ...
                                        </td>
                                        <td>
                                            ...
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    {% else %}
                        <p class="text-danger">
                            <b><i class="fa fa-exclamation-circle"></i> Results not available for now.</b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {
            $('#results #result').keyup(function () {

                let value = $(this).val();
                let id = parseInt($(this).data('id'));
                let exam = parseInt($(this).data('exam'));

                if (value !== '' && value !== null) {
                    $.get(`/a/json/result/${id}/value/${parseInt(value)}/exam/${exam}/`, function (data, status) {
                    })
                }
            })
        });
    </script>
{% endblock %}