{% if request.user.is_superuser %}
    <div class="left-sidenav">
        <ul class="metismenu left-sidenav-menu" id="side-nav">
            <li class="menu-title">INTEX247</li>

            <li>
                <a href="{% url 'admins:dashboard' %}">
                    <i class="mdi mdi-view-dashboard"></i>
                    <span>Newsfeed</span>
                </a>
            </li>

            <li class="menu-title">SCHEDULING</li>
            <li>
                <a href="{% url 'admins:schedule' %}">
                    <i class="fa fa-notes-medical"></i>
                    <span>Schedule</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admins:shift-list' %}">
                    <i class="fa fa-calendar-check"></i>
                    <span>Shifts</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admins:calls' %}">
                    <i class="fa fa-clock"></i>
                    <span>Time Clock</span>
                </a>
            </li>


            <li class="menu-title">REPORTS</li>
            <li>
                <a href="{% url 'admins:reports' %}">
                    <i class="fa fa-chart-line"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admins:shift-notes' %}">
                    <i class="fa fa-paragraph"></i>
                    <span>Shift Notes</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admins:charges-break' %}">
                    <i class="mdi mdi-cash"></i>
                    <span>charges Break</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admins:pay-run-report' %}">
                    <i class="fa fa-edit"></i>
                    <span>Pay Run Report</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admins:health' %}">
                    <i class="mdi mdi-medical-bag"></i>
                    <span>Health</span>
                </a>
            </li>


            <li class="menu-title">USERS</li>

            <li>
                <a href="{% url 'admins:user-list' %}">
                    <i class="fa fa-user"></i>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admins:client-list' %}">
                    <i class="fa fa-users"></i>
                    <span>Clients</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admins:site-list' %}">
                    <i class="fa fa-building"></i>
                    <span>Sites</span>
                </a>
            </li>

            <li class="menu-title">SETTINGS</li>
            <li>
                <a href="{% url 'admins:position-list' %}">
                    <i class="fa fa-user-cog"></i>
                    <span>Positions</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admins:report-type-list' %}">
                    <i class="fa fa-chart-line"></i>
                    <span>Reports Types</span>
                </a>
            </li>

        </ul>
    </div>
{% endif %}