{% load static %}
{% load crispy_forms_tags %}

{# TAB2: employment #}
<div class="tab-pane" id="tabs-employment" role="tabpanel">
    <div class="row">
        {# LEFT #}
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-5">NI number</dt>
                <dd class="col-7">{{ employee_work.ni_number }}</dd>
                <dt class="col-5">UTR</dt>
                <dd class="col-7">{{ employee_work.utr }}</dd>
                <dt class="col-5">Tax code</dt>
                <dd class="col-7">{{ employee_work.tax_code }}</dd>
                <dt class="col-5">Visa required</dt>
                <dd class="col-7">{{ employee_work.visa_required }}</dd>
            </dl>
            <button class="btn btn-outline-secondary" id="employment_work_edit_button">
                <i class="fa fa-edit"></i> Edit
            </button>
        </div>

        {# RIGHT #}
        <div class="col-sm-6">
            {# LNAGUAGE #}
            <div class="mb-4">
                <div class="text-right">
                    <button class="btn btn-link" id="employment_contract_add_button">
                        + Add Contract
                    </button>
                </div>
                {% if employee_contracts %}
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th>Type</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for oobject in employee_contracts %}
                                <tr>
                                    <td>{{ oobject.type }}</td>
                                    <td>{{ oobject.start }}</td>
                                    <td>{{ oobject.end }}</td>
                                    <td>
                                        <button id="employment_contract_delete_button"
                                                class="btn btn-link btn-sm text-danger" data-method="GET"
                                                data-action="{% url 'admins:admins-json:employee_contract_delete' oobject.pk %}?action=DELETE"
                                        >
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div>
                        <p class="mb-0 text-danger"><b>Information not available</b></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="employment_work_edit_model">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Employment Details Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ employee_work_form|crispy }}
                </form>
            </div>

            <div class="modal-footer text-left">
                <button type="button" id="employment_work_edit_model_submit_btn"
                        data-action="{% url 'admins:admins-json:employee_work_change' employee.pk %}"
                        data-param="" data-method="POST"
                        class="btn btn-success me-auto">
                    <i class="fa fa-check"></i>&nbsp;Submit
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="employment_contract_add_model">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Employment Contract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ employee_contracts_form|crispy }}
                </form>
            </div>

            <div class="modal-footer text-left">
                <button type="button" id="employment_contract_add_model_submit_btn"
                        data-method="POST" data-param=""
                        data-action="{% url 'admins:admins-json:employee_contract_add' employee.pk %}"
                        class="btn btn-success me-auto">
                    <i class="fa fa-check"></i>&nbsp;Submit
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#id_start').datetimepicker({
            format: 'Y-m-d',
            timepicker: false,
        });

        $('#id_end').datetimepicker({
            format: 'Y-m-d',
            timepicker: false,
        });

        {# EMPLOYEE WORK DETAILS #}
        let employment_work_edit_button = $('#employment_work_edit_button')
        let employment_work_edit_model = $('#employment_work_edit_model')
        let employment_work_edit_model_form = employment_work_edit_model.find('form')
        let employment_work_edit_model_submit_btn = $('#employment_work_edit_model_submit_btn')

        employment_work_edit_button.click(function () {
            employment_work_edit_model.modal('show')
        });
        employment_work_edit_model_submit_btn.click(function () {
            $.ajax({
                url: $(this).data('action'),
                type: $(this).data('method'),
                data: employment_work_edit_model_form.serialize(),
                success: function (data) {
                    if (!(data['success'])) {
                        employment_work_edit_model_form.html(data['form_html']);
                    } else {
                        location.reload();
                    }
                },
                error: function () {
                    employment_work_edit_model_form.find('.error-message').show()
                }
            });
        })

        {# EMPLOYEE CONTRACTS #}
        let employment_contract_add_button = $('#employment_contract_add_button')
        let employment_contract_delete_button = $('#employment_contract_delete_button')
        let employment_contract_add_model = $('#employment_contract_add_model')
        let employment_contract_add_model_form = employment_contract_add_model.find('form')
        let employment_contract_add_model_submit_btn = $('#employment_contract_add_model_submit_btn')

        employment_contract_add_button.click(function () {
            employment_contract_add_model.modal('show')
        });
        employment_contract_add_model_submit_btn.click(function () {
            $.ajax({
                url: $(this).data('action'),
                type: $(this).data('method'),
                data: employment_contract_add_model_form.serialize(),
                success: function (data) {
                    if (!(data['success'])) {
                        employment_contract_add_model_form.html(data['form_html']);
                    } else {
                        location.reload();
                    }
                },
                error: function () {
                    employment_contract_add_model_form.find('.error-message').show()
                }
            });
        })
        employment_contract_delete_button.click(function () {
            alert($(this).data('method'))
            $.ajax({
                url: $(this).data('action'),
                type: $(this).data('method'),
                success: function (data) {
                    location.reload();
                },
                error: function (error) {
                    console.log(error)
                }
            });
        })

    });
</script>