{% extends 'core/base.html' %}
{% load static %}

{% block base_subtitle %} Absense Types{% endblock %}
{% block base_subhead_heading %} Absense Types &rAarr; List{% endblock %}
{% block base_subhead_paragraph %}List of all available Absense types{% endblock %}

{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'admins:absense-type-add' %}">
        Absense Types
    </a>
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                {% if object_list %}

                    <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Paid</th>
                            <th>-</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.name }}</td>
                                <td>
                                    {% if object.is_paid %}
                                        <b class="text-success"><i class="fa fa-check"></i></b>
                                    {% else %}
                                        <b class="text-danger"><i class="fa fa-times"></i></b>
                                    {% endif %}
                                </td>
                                <th>
                                    <a href="{% url 'admins:absense-type-update' object.pk %}">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="icon icon-tabler icon-tabler-edit-circle" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 15l8.385 -8.415a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3z"></path>
                                            <path d="M16 5l3 3"></path>
                                            <path d="M9 7.07a7.002 7.002 0 0 0 1 13.93a7.002 7.002 0 0 0 6.929 -5.999"></path>
                                        </svg>
                                    </a> &nbsp;
                                    <a href="{% url 'admins:absense-type-delete' object.pk %}" class="text-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="icon icon-tabler icon-tabler-trash" width="24" height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <line x1="4" y1="7" x2="20" y2="7"></line>
                                            <line x1="10" y1="11" x2="10" y2="17"></line>
                                            <line x1="14" y1="11" x2="14" y2="17"></line>
                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                        </svg>
                                    </a>
                                </th>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>

                {% else %}
                    <div class="card-body">
                        <p class="text-danger mb-0"><b>No objects available</b></p>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}