{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}Admins | Clients{% endblock %}
{% block base_subhead_heading %}Clients{% endblock %}
{% block base_subhead_paragraph %}List of available Clients.{% endblock %}
{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'admins:client-add' %}">
        <i class="fa fa-plus"></i> New Client
    </a>
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if object_list %}

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Parent Client</th>
                                    <th>Xero Contact Name</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in object_list %}
                                    <tr>
                                    <td>{{ object.name }}</td>
                                    <td>{{ object.parent_client }}</td>
                                    <td>{{ object.xero_contact_name }}</td>
                                    <th>
                                        <a href="{% url 'admins:client-detail' object.pk %}">
                                            <i class="fa fa-eye"></i>
                                        </a> |
                                        <a href="{% url 'admins:client-update' object.pk %}">
                                            <i class="fa fa-edit"></i>
                                        </a> |
                                        <a href="{% url 'admins:client-delete' object.pk %}" class="text-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </th>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    {% else %}
                        <p class="mb-0 text-danger">
                            <b>
                                <i class="fa fa-exclamation-circle"></i>
                                No objects available
                            </b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}