{% extends 'core/base.html' %}
{% load static %}
{% load custom_tags %}

{% block base_title %}Admins | Clients{% endblock %}
{% block base_subhead_heading %}Clients{% endblock %}
{% block base_subhead_paragraph %}List of available Clients.{% endblock %}
{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'admins:client-add' %}">
        <i class="fa fa-plus"></i> New Client
    </a>
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body border-bottom">
                    <form method="get">
                        <div class="input-group">
                            {{ filter_form }}
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-body">
                    {% if object_list %}

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Registration</th>
                                    <th>VAT</th>
                                    <th>Website</th>
                                    <th>Is Active</th>
                                    <th>-</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.name }}</td>
                                        <td>
                                            {% if not object.phone %}
                                                <b class="text-danger"><a href="#" class="text-danger">-</a></b>
                                            {% else %}
                                                <b><a href="tel:{{ object.phone }}">{{ object.phone }}</a></b>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if not object.email %}
                                                <b class="text-danger"><a href="#" class="text-danger">-</a></b>
                                            {% else %}
                                                <b><a href="mail:{{ object.email }}">{{ object.email }}</a></b>
                                            {% endif %}
                                        </td>
                                        <td>{{ object.registration_number }}</td>
                                        <td>{{ object.vat_number }}</td>
                                        <td>
                                            {% if not object.website %}
                                                <b class="text-danger"><a href="#" class="text-danger">-</a></b>
                                            {% else %}
                                                <b><a href="mail:{{ object.website }}"><i class="fa fa-link"></i> Visit</a></b>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if object.is_active %}
                                                <b class="text-success"><i class="fa fa-check-circle"></i></b>
                                            {% else %}
                                                <b class="text-danger"><i class="fa fa-times-circle"></i></b>
                                            {% endif %}
                                        </td>
                                        <th>
                                            <a href="{% url 'admins:client-detail' object.pk %}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </th>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    {% else %}
                        <p class="mb-0 text-danger">
                            <b>
                                <i class="fa fa-exclamation-circle"></i>
                                No objects available
                            </b>
                        </p>
                    {% endif %}
                </div>

                <div class="card-body border-top">
                    <ul class="pagination">
                        {% if object_list.has_previous %}
                            <li>
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                        </li>
                        {% if object_list.has_next %}
                            <li>
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            $("#id_is_active option:first").text("-- Is Active --");
            $("#id_country option:first").text("-- Country --");

            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');

        });
    </script>
{% endblock %}