{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}admins | {{ object.name }}{% endblock %}
{% block base_subhead_heading %} {{ object.name }}{% endblock %}
{% block base_subhead_paragraph %}{{ object.name }} Profile{% endblock %}
{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'admins:client-list' %}"><i class="fa fa-arrow-left"></i> Clients</a>
{% endblock %}


{% block base_content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-star"></i></p>
                            <p class="mb-0 text-center"><b>Name</b></p>
                            <p class="mb-0 text-center">{{ object.name }}</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-phone"></i></p>
                            <p class="mb-0 text-center"><b>Phone</b></p>
                            <p class="mb-0 text-center">
                                {% if not object.phone %}
                                    <b class="text-danger"><a href="#" class="text-danger">-</a></b>
                                {% else %}
                                    <b><a href="tel:{{ object.phone }}">{{ object.phone }}</a></b>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-inbox"></i></p>
                            <p class="mb-0 text-center"><b>Email</b></p>
                            <p class="mb-0 text-center">
                                {% if not object.email %}
                                    <b class="text-danger"><a href="#" class="text-danger">-</a></b>
                                {% else %}
                                    <b><a href="mailto:{{ object.email }}">{{ object.email }}</a></b>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-barcode"></i></p>
                            <p class="mb-0 text-center"><b>Registration</b></p>
                            <p class="mb-0 text-center">
                                {{ object.registration_number }}
                            </p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-comment"></i></p>
                            <p class="mb-0 text-center"><b>VAT</b></p>
                            <p class="mb-0 text-center">
                                {{ object.vat_number }}
                            </p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class=" fa fa-globe"></i></p>
                            <p class="mb-0 text-center"><b>Website</b></p>
                            <p class="mb-0 text-center">
                                {% if not object.website %}
                                    <b><a href="#" class="text-danger">-</a></b>
                                {% else %}
                                    <b><a href="{{ object.website }}" target="_blank">{{ object.website }}</a></b>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class=" fa fa-map"></i></p>
                            <p class="mb-0 text-center"><b>Address</b></p>
                            <p class="mb-0 text-center">
                                {{ object.address }} - {{ object.city }} - {{ object.country }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#sites" role="tab"
                               aria-selected="true">Sites
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#assets" role="tab" aria-selected="false">
                                Assets
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane p-3 active" id="sites" role="tabpanel">
                            {% if not object.get_sites %}
                                <p class="mb-0 text-danger">
                                    Not sites available.
                                </p>
                            {% else %}
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Location</th>
                                            <th>Display ID</th>
                                            <th>-</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for site in object.get_sites %}
                                            <tr>
                                                <td>{{ site.site_id }}</td>
                                                <td>{{ site.name }}</td>
                                                <td>{{ site.address_line_1 }}</td>
                                                <td>{{ site.pk }}</td>
                                                <td>
                                                    <b>
                                                        <a href="{% url 'admins:site-detail' site.pk %}">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </b>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane p-3" id="assets" role="tabpanel">
                            <p class="mb-0 text-danger">
                                Not implemented yet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <a href="{% url 'admins:client-update' object.pk %}" class="btn btn-primary text-white"><i
                            class="fa fa-edit"></i> Edit Client</a>
                    <a href="{% url 'admins:client-delete' object.pk %}" class="btn btn-danger text-white"><i
                            class="fa fa-trash"></i> Delete client</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}