{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block base_subtitle %} Countries{% endblock %}
{% block base_subhead_heading %} Countries &rAarr; List{% endblock %}
{% block base_subhead_paragraph %}List of all available countries{% endblock %}

{% block base_subhead_button %}
    <button class="btn btn-primary" id="model-from-create-btn">
        Add Country
    </button>
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                {% if object_list %}

                    <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Language</th>
                            <th>Currency</th>
                            <th>Time Zone</th>
                            <th>Phone Code</th>
                            <th>Active</th>
                            <th>-</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.name }}</td>
                                <td>{{ object.language }}</td>
                                <td>{{ object.currency }}</td>
                                <td>{{ object.time_zone }}</td>
                                <td>{{ object.phone_code }}</td>
                                <td>
                                    {% if object.is_active %}
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="icon icon-tabler icon-tabler-check text-success" width="24"
                                             height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg>
                                    {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="icon icon-tabler icon-tabler-x text-danger" width="24"
                                             height="24"
                                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <line x1="18" y1="6" x2="6" y2="18"></line>
                                            <line x1="6" y1="6" x2="18" y2="18"></line>
                                        </svg>
                                    {% endif %}
                                </td>
                                <th>
                                    <button id="model-from-update-btn" class="btn btn-link"
                                            data-id="{{ object.pk }}" data-name="{{ object.name }}"
                                            data-language="{{ object.langauge }}" data-currency="{{ object.currency }}"
                                            data-time_zone="{{ object.time_zone }}" data-phone_code="{{ object.phone_code }}"
                                    >
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button id="model-from-delete-btn" data-id="{{ object.pk }}" class="btn text-danger btn-link">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </th>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>

                {% else %}
                    <div class="card-body">
                        <p class="text-danger mb-0"><b>No objects available</b></p>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modal-simple">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Country Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>
                </div>
                <div class="modal-footer text-left">
                    <button type="button" id="model-from-submit-btn" data-action="" data-param="" data-method="" class="btn btn-success me-auto">
                        <i class="fa fa-check"></i>&nbsp;Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            {# GLOBALS#}
            let create_button = $('body #model-from-create-btn');
            let update_button = $('body #model-from-update-btn');
            let delete_button = $('body #model-from-delete-btn');
            let submit_button = $('body #model-from-submit-btn');

            {# CREATE MODEL #}
            create_button.click(function () {
                $('#modal-simple').modal('show');
                submit_button.data('method', 'POST')
                submit_button.data('action', '/a/json/country/add/')
                submit_button.data('params', '?action=POST')
            });

            delete_button.click(function () {
                let id = $(this).data('id');
                let url = '/a/json/country/'+id+'/delete/?action=DELETE'

                $.ajax({
                    url: url,
                    type: "POST",
                    data: $('form').serialize(),
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        alert(this.error)
                    }
                });
            });

            {# UPDATE MODEL #}
            update_button.click(function () {
                let id = $(this).data('id');
                $('#id_name').val($(this).data('name'));
                $('#id_language').val($(this).data('language'));
                $('#id_time_zone').val($(this).data('time_zone'));
                $('#id_phone_code').val($(this).data('phone_code'));
                $('#id_currency').val($(this).data('currency'));

                $('#modal-simple').modal('show');
                submit_button.data('method', 'POST')
                submit_button.data('action', '/a/json/country/'+id+'/change/')
                submit_button.data('params', '?action=PUT')
            })

            {# SUBMIT MODEL #}
            submit_button.click(function (){
                $.ajax({
                    url: $(this).data('action'),
                    type: "POST",
                    data: $('form').serialize(),
                    success: function (data) {
                        if (!(data['success'])) {
                            $('form').replaceWith(data['form_html']);
                        } else {
                            location.reload();
                        }
                    },
                    error: function () {
                        $('form').find('.error-message').show()
                    }
                });
            })
        })
    </script>
{% endblock %}