{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}
    admins | Dashboard
{% endblock %}

{% block base_subhead_paragraph %}
    Application statistics and shortcuts to other views
{% endblock base_subhead_paragraph %}

{% block base_content %}

    <div class="row">

        {# USERS #}
        <div class="col-lg-4">
            <div class="card carousel-bg-img">
                <div class="card-body dash-info-carousel mb-0">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Total Users</h4>
                                            <div class="icon-info my-3"><i
                                                    class="dripicons-user-group bg-soft-success"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark">00</h2>
                                            <p class="mb-1 text-muted">
                                                <span class="text-danger">
                                                    <i class="mdi mdi-arrow-up"></i>Count</span>
                                                of all available users
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Admin Users</h4>
                                            <div class="icon-info my-3"><i
                                                    class="dripicons-user-group bg-soft-purple"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark">00</h2>
                                            <p class="mb-1 text-muted">
                                                <span class="text-danger">
                                                    <i class="mdi mdi-arrow-up"></i>Count</span>
                                                of all admin users
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Employees</h4>
                                            <div class="icon-info my-3"><i
                                                    class="dripicons-user-group bg-soft-danger"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark">00</h2>
                                            <p class="mb-1 text-muted">
                                                <span class="text-danger">
                                                    <i class="mdi mdi-arrow-up"></i>Count</span>
                                                of all employee users
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true">
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {# CLIENTS AND SITES #}
        <div class="col-lg-4">
            <div class="card carousel-bg-img">
                <div class="card-body dash-info-carousel mb-0">
                    <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Total Clients</h4>
                                            <div class="icon-info my-3"><i class="fa fa-building bg-soft-purple"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark">00</h2>
                                            <p class="mb-1 text-muted">
                                                <span class="text-danger">
                                                    <i class="mdi mdi-arrow-up"></i>Count</span>
                                                of all clients
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Total Sites</h4>
                                            <div class="icon-info my-3"><i class="fa fa-map-marked bg-soft-success"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark">00</h2>
                                            <p class="mb-1 text-muted">
                                                <span class="text-danger">
                                                    <i class="mdi mdi-arrow-up"></i>Count</span>
                                                of all client sites
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true">
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls2" role="button"
                           data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {# TOTAL SHIFTS #}
        <div class="col-lg-4">
            <div class="card carousel-bg-img">
                <div class="card-body dash-info-carousel mb-0">
                    <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Total Shifts</h4>
                                            <div class="icon-info my-3">
                                                <i class="fa fa-clipboard-list bg-soft-warning"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark">00</h2>
                                            <p class="mb-1 text-muted">
                                                <span class="text-danger">
                                                    <i class="mdi mdi-arrow-up"></i>
                                                    Count
                                                </span> of all shifts
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Expired</h4>
                                            <div class="icon-info my-3"><i
                                                    class="mdi mdi-clipboard-alert bg-soft-primary"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark">00</h2>
                                            <p class="mb-1 text-muted">
                                                <span class="text-danger">
                                                    <i class="mdi mdi-arrow-up"></i>Count</span>
                                                of all client sites
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Running</h4>
                                            <div class="icon-info my-3"><i
                                                    class="mdi mdi-clipboard-play bg-soft-pink"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark">00</h2>
                                            <p class="mb-1 text-muted">
                                                <span class="text-danger">
                                                    <i class="mdi mdi-arrow-up"></i>Count</span>
                                                of all running shifts
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <div class="text-center">
                                            <h4 class="mt-0 header-title text-left">Future</h4>
                                            <div class="icon-info my-3"><i
                                                    class="mdi mdi-clipboard-arrow-up bg-soft-success"></i>
                                            </div>
                                            <h2 class="mt-0 font-weight-bold text-dark">00</h2>
                                            <p class="mb-1 text-muted">
                                                <span class="text-danger">
                                                    <i class="mdi mdi-arrow-up"></i>Count</span>
                                                of all future sites
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls3" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true">
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls3" role="button"
                           data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0"><b>Active Shifts Today</b></p>
                </div>
                <div class="card-body">
                    {% if shifts_days %}
                        <div class="table-responsive" id="table">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Hours</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in shifts_days %}
                                    <tr>
                                        <td>
                                            {% with current_status=object.get_current_status %}
                                                {% if current_status == "completed" %}
                                                    <span class="badge badge-success">{{ current_status }}</span>
                                                {% elif current_status == "running" %}
                                                    <span class="badge badge-primary">{{ current_status }}</span>
                                                {% elif current_status == "over time" %}
                                                    <span class="badge badge-warning">{{ current_status }}</span>
                                                {% elif current_status == "awaiting" %}
                                                    <span class="badge badge-info">{{ current_status }}</span>
                                                {% elif current_status == "late" %}
                                                    <span class="badge badge-warning">{{ current_status }}</span>
                                                {% elif current_status == "absent" %}
                                                    <span class="badge badge-dark">{{ current_status }}</span>
                                                {% else %}
                                                    <span class="badge badge-danger">{{ current_status }}</span>
                                                {% endif %}
                                            {% endwith %}
                                        </td>
                                        <td>{{ object.shift_date }} <br> {{ object.shift_end_date }}</td>
                                        <td>{{ object.shift.start_time|date:"G:i" }}
                                            - {{ object.shift.end_time|date:"G:i" }}
                                        </td>
                                        <td>
                                            <i class="fa fa-clock text-primary"></i><b> {{ object.get_shift_hours }}</b>&nbsp;&nbsp;&nbsp;
                                            <i class="fa fa-check-circle text-success"></i><b> {{ object.get_active_hours }}</b>&nbsp;&nbsp;&nbsp;
                                            <i class="fa fa-exclamation-circle text-danger"></i><b> {{ object.get_extra_hours }}</b>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <p class="mb-0 text-primary">
                                <b>
                                    <a href="{% url 'admins:time-clock' %}?shift_date=today&shift__employee__user__username=">View
                                        More..</a>
                                </b>
                            </p>
                        </div>
                    {% else %}
                        <p class="mb-0 text-danger">
                            <b>
                                <i class="fa fa-exclamation-circle"></i>
                                No active shifts available
                            </b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0"><b>Activities</b></p>
                </div>
                <div class="card-body">
                    {% if shifts_days %}
                        <div class="table-responsive" id="table">
                            <table class="table table-hover table-borderless">
                                <tbody>
                                {% for object in '1234567789'|make_list %}
                                    <tr>
                                    <th><i class="fa fa-clock"></i></th>
                                    <td>Notification</td>
                                    <td>Mark I</td>
                                    <td>clocked in 30 mins ago</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="mb-0 text-danger">
                            <b>
                                <i class="fa fa-exclamation-circle"></i>
                                No activity recorded
                            </b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_internal_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            var options = {
                series: [{
                    name: "Active Shifts",
                    data: [10, 41, 35, 51, 49, 62, 69]
                }],
                chart: {
                    height: 395,
                    type: 'line',
                    zoom: {
                        enabled: false
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },
                title: {
                    text: 'Active Shifts - WEEK',
                    align: 'left'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: ['01', '02', '03', '04', '05', '06', '07'],
                }
            };

            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();

            $('#table #status_change_btn').on("click", function (event) {
                const id = $(this).attr('data-id')
                const status = $(this).attr('data-action')

                $.get("/a/api/shift-day/" + id + "/status/" + status + "/change/", function (data, status) {
                    if (status === 'success') {
                        location.reload();
                    }
                });
            });

        });
    </script>
{% endblock %}