{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}
    admins | Dashboard
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0"><b>Sessions</b></p>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0"><b>Classes</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0"><b>Subjects</b></p>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0"><b>Teachers</b></p>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>

{% endblock %}