{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}Admins | Form Builders{% endblock %}
{% block base_subhead_heading %}Form Builders{% endblock %}
{% block base_subhead_paragraph %}List of available Form Builders.{% endblock %}
{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'admins:form-builder-add' %}">
        <i class="fa fa-plus"></i> New Form Builders
    </a>
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if object_list %}

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="">
                                <tr>
                                    <th>ID</th>
                                    <th>Icon</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>created On</th>
                                    <th>Last edited</th>
                                    <th>Status</th>
                                    <th>Created By</th>
                                    <th>No of Questions</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in object_list %}
                                    <tr>
                                    <td>{{ object.id }}</td>
                                    <td>{{ object.name }}</td>
                                    <td>{{ object.description }}</td>
                                    <td>{{ object.created_on }}</td>
                                    <td>{{ object.updated_on }}</td>
                                    <td>{{ object.is_active }}</td>
                                    <td>{{ object.created_by }}</td>
                                    <td>00</td>
                                    <th>
                                        <a href="{% url 'admins:form-builder-detail' object.pk %}">
                                            <i class="fa fa-eye"></i>
                                        </a> |
                                        <a href="{% url 'admins:form-builder-update' object.pk %}">
                                            <i class="fa fa-edit"></i>
                                        </a> |
                                        <a href="{% url 'admins:form-builder-delete' object.pk %}" class="text-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </th>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    {% else %}
                        <p class="mb-0 text-danger">
                            <b>
                                <i class="fa fa-exclamation-circle"></i>
                                No objects available
                            </b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}