{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}Schedule{% endblock %}
{% block base_subhead_heading %} Schedule {% endblock %}


{% block base_css %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet'/>
{% endblock %}


{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex justify-content-between">
                            <h3>News Feed</h3>
                            <span>
                                    <a href="{% url 'admins:employee-map' %}" class="btn btn-secondary">Map</a>
                                    <a href="#" class="btn btn-primary">
                                        <span class="d-none d-md-inline">Create </span>
                                        <span>New</span>
                                        <span class="d-none d-md-inline"> Post</span>
                                    </a>
                                </span>
                        </div>
                    </div>
                    <div id="news-feed-index-table" data-livecount="0">
                        <form action="" method="GET" class="row m-0 mb-2">
                            <div class="col-12 m-0 p-0">
                                <div class="row m-0 p-0">
                                    <div class="col-12 col-md-6 mb-2 mb-md-0 p-0">
                                        <div class="form-group m-0 px-2 py-1 border rounded"><i
                                                class="fa fa-search mr-2"></i><input
                                                class="border-0 bg-transparent w-75" type="text" name="search"
                                                placeholder="Search news feed" value=""></div>
                                    </div>
                                    <div class="col-12 col-md-6 p-0">
                                        <div class="row m-0 p-0">
                                            <div class="col-6 m-0 p-0 pr-1 pl-md-1 pr-md-0 bespoke-datepicker">
                                                <div class="react-datepicker-wrapper">
                                                    <div class="react-datepicker__input-container"><input type="date"
                                                                                                          placeholder="Created At: [yyyy-mm-dd]"
                                                                                                          class="w-100 form-group m-0 px-2 py-1 border rounded"
                                                                                                          value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 m-0 p-0 pl-1 bespoke-datepicker">
                                                <div class="react-datepicker-wrapper">
                                                    <div class="react-datepicker__input-container"><input type="date"
                                                                                                          placeholder="Close At: [yyyy-mm-dd]"
                                                                                                          class="w-100 form-group m-0 px-2 py-1 border rounded"
                                                                                                          value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="text-muted mb-2"><small>Last updated: 19:39:20 17/09/2022&nbsp;&nbsp;<a href="#">(pause)</a>&nbsp;&nbsp;</small>
                        </p>
                        <hr>
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_internal_scripts %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
{% endblock %}

{% block base_external_scripts %}
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                initialDate: '2022-08-07',
                editable: true, // DRAG ABLE NOW
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: [
                    {
                        title: 'All Day Event',
                        start: '2022-08-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2022-08-07',
                        end: '2022-08-10'
                    },
                    {
                        groupId: '999',
                        title: 'Repeating Event',
                        start: '2022-08-09T16:00:00'
                    },
                    {
                        groupId: '999',
                        title: 'Repeating Event',
                        start: '2022-08-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2022-08-11',
                        end: '2022-08-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2022-08-12T10:30:00',
                        end: '2022-08-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2022-08-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2022-08-12T14:30:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2022-08-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2022-08-28'
                    }
                ]
            });

            calendar.render();
        });

    </script>
{% endblock %}