{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}Schedule{% endblock %}
{% block base_subhead_heading %} Schedule {% endblock %}


{% block base_css %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet'/>
{% endblock %}


{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex justify-content-between">
                            <h3>News Feed</h3>
                            <span>
                                    <a href="{% url 'admins:shift-add' %}" class="btn btn-primary">
                                        Create Shift
                                    </a>
                                </span>
                        </div>
                    </div>
                    <div id="news-feed-index-table" data-livecount="0">
                        <form action="" method="GET" class="row m-0 mb-2">
                            <div class="col-12 m-0 p-0">
                                <div class="row m-0 p-0">
                                    <div class="col-12 col-md-6 mb-2 mb-md-0 p-0">
                                        <div class="form-group m-0 px-2 py-1 border rounded"><i
                                                class="fa fa-search mr-2"></i><input
                                                class="border-0 bg-transparent w-75" type="text" name="search"
                                                placeholder="Search news feed" value=""></div>
                                    </div>
                                    <div class="col-12 col-md-6 p-0">
                                        <div class="row m-0 p-0">
                                            <div class="col-6 m-0 p-0 pr-1 pl-md-1 pr-md-0 bespoke-datepicker">
                                                <div class="react-datepicker-wrapper">
                                                    <div class="react-datepicker__input-container"><input type="date"
                                                                                                          placeholder="Created At: [yyyy-mm-dd]"
                                                                                                          class="w-100 form-group m-0 px-2 py-1 border rounded"
                                                                                                          value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 m-0 p-0 pl-1 bespoke-datepicker">
                                                <div class="react-datepicker-wrapper">
                                                    <div class="react-datepicker__input-container"><input type="date"
                                                                                                          placeholder="Close At: [yyyy-mm-dd]"
                                                                                                          class="w-100 form-group m-0 px-2 py-1 border rounded"
                                                                                                          value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="text-muted mb-2"><small>Last updated: 19:39:20 17/09/2022&nbsp;&nbsp;<a href="#">(pause)</a>&nbsp;&nbsp;</small>
                        </p>
                        <hr>
                        <div id='shifts_calender'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_internal_scripts %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js'></script>
{% endblock %}

{% block base_external_scripts %}
    <script>

        $(document).ready(function () {

            init();

            {# EVENTS ------------------------------------------------------------------ #}
            $('.fc-prev-button').click(function () {
                if ($(this).attr('title') === "Previous month")
                    button_prev_next(false);
            })
            $('.fc-next-button').click(function () {
                if ($(this).attr('title') === "Next month")
                    button_prev_next(true);
            })

            {# FUNCTIONS --------------------------------------------------------------- #}

            function init() {
                build_calender();
            }

            function build_calender() {
                let shifts = [
                    {% for shift in shifts %}
                        {
                            id: '{{ shift.shift_id }}',
                            title: '{{ shift.shift__client__name }}',

                            {% if shift.shift_date < current_date  %}
                                editable: false,
                            {% else %}
                                editable: true,
                                url: '{% url 'admins:shift-detail' shift.shift_id %}',
                            {% endif %}

                            display: 'block',

                            {% if shift.shift__employee %}
                                color: 'green',
                            {% else %}
                                color: 'red',
                            {% endif %}

                            start: '{{ shift.shift_date|date:"Y-m-d" }}T{{ shift.shift__start_time|time:"H:i:s" }}',
                            end: '{{ shift.shift_date|date:"Y-m-d" }}T{{ shift.shift__end_time|time:"H:i:s" }}',
                        },
                    {% endfor %}
                ]
                var calendarEl = document.getElementById('shifts_calender');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    initialDate: '{{ current_year }}-{{ current_month }}-{{ current_day }}',
                    editable: true,
                    nowIndicator: true,
                    dayMaxEventRows: true,
                    views: {
                        timeGrid: {
                            dayMaxEventRows: 6
                        }
                    },
                    headerToolbar: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    events: shifts,
                    eventClick: function (info) {

                        info.jsEvent.preventDefault();
                        if (info.event.url) {
                            window.open(info.event.url);
                        }

                    },
                    eventResize: function (info) {

                        // CONFIRM CHANGE
                        if (confirm(info.event.title + " end is now " + info.event.end.toISOString() + " is this okay?")) {

                            // GET INFORMATION
                            let shift_id = info.event.id;
                            let shift_end_time = info.event.end.toISOString();

                            // CALL API
                            alert(shift_id + " " + shift_end_time)

                            {#info.revert();#}
                        }
                    },
                    eventDrop: function (info) {
                        alert(info.event.title + " was dropped on " + info.event.start.toISOString());

                        // CONFIRM CHANGE
                        if (confirm("Are you sure about this change?")) {

                            // GET INFORMATION
                            let shift_id = info.event.id;
                            let new_event_start = info.event.start.toISOString();
                            let new_event_end = info.event.end.toISOString();
                            let old_event_start = info.oldEvent.start.toISOString();
                            let old_event_end = info.oldEvent.end.toISOString();

                            // CALL API
                            console.log(shift_id)
                            console.log("OLD:: S: "+old_event_start+" E:"+old_event_end)
                            console.log("NEW:: S: "+new_event_start+" E:"+new_event_end)
                        }
                    }

                });
                calendar.render();
            }

            function button_prev_next(isNext) {
                let current_month = {{ current_month }};
                let current_year = {{ current_year }};
                let required_month = current_month;
                let required_year = current_year;

                if (isNext === true) {
                    required_month = current_month + 1;
                    if (current_month == "12") {
                        required_month = 1;
                        required_year += 1;
                    }
                } else {
                    required_month = current_month - 1;
                    if (current_month == "1") {
                        required_month = 12;
                        required_year -= 1;
                    }
                }

                window.location = "{% url 'admins:schedule' %}?year=" + required_year + "&month=" + required_month + "";
            }

        })


    </script>
{% endblock %}