{% extends 'core/base.html' %}
{% load static %}
{% load custom_tags %}

{% block base_title %}Admins | Shifts{% endblock %}
{% block base_subhead_heading %}Shifts{% endblock %}
{% block base_subhead_paragraph %}List of available Shifts.{% endblock %}
{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'admins:shift-add' %}">
        <i class="fa fa-plus"></i> New Shift
    </a>
{% endblock %}

{% block base_content %}

    <div class="row">


        <div class="col-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <form method="get">
                        <div class="input-group mb-3">
                            {{ filter_form }}
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <a href="{% url 'admins:shift-list' %}" class="btn btn-danger" type="submit">
                                    <i class="fa fa-brush"></i>
                                </a>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="card-body">
                    {% if object_list %}

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Client</th>
                                    <th>Employee</th>
                                    <th>Charge Rate</th>
                                    <th>Pay Rate</th>
                                    <th>Days</th>
                                    <th>-</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.get_job_type_display }}</td>
                                        <td>{{ object.start_date }}</td>
                                        <td>{{ object.end_date }}</td>
                                        <td>{{ object.start_time }}</td>
                                        <td>{{ object.end_time }}</td>
                                        <td>{{ object.client.name }}</td>
                                        <td>
                                            {% if object.employee %}
                                                <a href="{% url 'admins:user-detail' object.employee.user.pk %}">
                                                    <b>
                                                        {{ object.employee.user.get_user_name }}
                                                    </b>
                                                </a>
                                            {% else %}
                                                <b class="text-danger">
                                                    un assigned
                                                </b>
                                            {% endif %}
                                        </td>
                                        <td>{{ object.charge_rate }}</td>
                                        <td>{{ object.pay_rate }}</td>
                                        <td>{{ object.shiftday_set.count }}</td>
                                        <th>
                                            <a href="{% url 'admins:shift-detail' object.pk %}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </th>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                        <ul class="pagination pagination-rounded justify-content-center mt-3 pb-1">

                            {% if object_list.has_previous %}

                                <li class="page-item">
                                    <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}"
                                       class="page-link">
                                        <i class="mdi mdi-chevron-left"></i>
                                    </a>
                                </li>

                                <li class="page-item">
                                    <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}"
                                       class="page-link"> {{ object_list.previous_page_number }}
                                    </a>
                                </li>

                            {% endif %}

                            {#                    <li class="page-item"><a href="/" class="page-link">1</a></li>#}
                            <li class="page-item active">
                                <a href="#" class="page-link">{{ object_list.number }}</a>
                            </li>

                            {% if object_list.has_next %}

                                <li class="page-item">
                                    <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}"
                                       class="page-link"> {{ object_list.next_page_number }}
                                    </a>
                                </li>

                                <li class="page-item">
                                    <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}"
                                       class="page-link">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>

                    {% else %}
                        <p class="mb-0 text-danger">
                            <b>
                                <i class="fa fa-exclamation-circle"></i>
                                No objects available
                            </b>
                        </p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            $("#id_client option:first").text("-- Client --");
            $("#id_site option:first").text("-- Site --");
            $("#id_employee option:first").text("-- Employee --");

            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');

        });
    </script>
{% endblock %}