{% extends 'core/base.html' %}
{% load static %}

{% block base_title %}Admins | Sites{% endblock %}
{% block base_subhead_heading %}Sites{% endblock %}
{% block base_subhead_paragraph %}List of available Sites.{% endblock %}
{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'admins:site-add' %}">
        <i class="fa fa-plus"></i> New Site
    </a>
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% if object_list %}

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="">
                                <tr>
                                    <th>Site ID</th>
                                    <th>Name</th>
                                    <th>Client</th>
                                    <th>Location</th>
                                    <th>Cases</th>
                                    <th>Shifts</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in object_list %}
                                    <tr>
                                    <td>{{ object.site_id }}</td>
                                    <td>{{ object.name }}</td>
                                    <td>{{ object.client }}</td>
                                    <td>{{ object.city }}</td>
                                    <td>00</td>
                                    <td>00</td>

                                    <th>
                                        <a href="{% url 'admins:site-detail' object.pk %}">
                                            <i class="fa fa-eye"></i>
                                        </a> |
                                        <a href="{% url 'admins:site-update' object.pk %}">
                                            <i class="fa fa-edit"></i>
                                        </a> |
                                        <a href="{% url 'admins:site-delete' object.pk %}" class="text-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </th>

                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    {% else %}
                        <p class="mb-0 text-danger">
                            <b>
                                <i class="fa fa-exclamation-circle"></i>
                                No objects available
                            </b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}