{% extends 'core/base.html' %}
{% load static %}

{% block base_subtitle %}Site Details{% endblock %}
{% block base_subhead_heading %}Site &rAarr; Details {% endblock %}
{% block base_subhead_paragraph %}Site detailed view{% endblock %}
{% block base_subhead_button %}
    <b>
        <a class="" href="{% url 'admins:site-list' %}">
            &larr; Sites
        </a>
    </b>
    <b>
        <a class="" href="{% url 'admins:site-update' object.pk %}">
            <i class="fa fa-edit"></i> Edit
        </a>
    </b>
{% endblock %}



{% block base_content %}

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header border-0">
                    <div>
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="card-title">Location</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-actions">
                        <a href="#" class="btn">
                            <i class="fa fa-map"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {{ map|safe }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">

            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-title">
                        More information
                    </div>

                    <div class="mb-2">
                        <i class="fa fa-globe text-muted"></i>
                        ID: <strong>{{ object.site_id }}</strong>
                    </div>
                    <div class="mb-2">
                        <i class="fa fa-book text-muted"></i>
                        Name: <strong>{{ object.name }}</strong>
                    </div>
                    <div class="mb-2">
                        <i class="fa fa-building text-muted"></i>
                        Client: <strong>
                        <a href="{% url 'admins:client-detail' object.client.pk %}">{{ object.client.name }}</a>
                    </strong>
                    </div>
                    <div class="mb-2">
                        <i class="fa fa-phone-square text-muted"></i>
                        Check Calls: <strong>
                        {% if object.check_calls_enabled %}
                            <i class="fa fa-check text-success"></i>
                        {% else %}
                            <i class="fa fa-times text-danger"></i>
                        {% endif %}
                    </strong>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-title">
                        Address information
                    </div>

                    <div class="mb-2">
                        <i class="fa fa-home text-muted"></i>
                        Company: <strong>{{ object.company_name }}</strong>
                    </div>

                    <div class="mb-2">
                        <i class="fa fa-map-marked text-muted"></i>
                        Address : <strong>{{ object.address }}</strong>
                    </div>

                    <div class="mb-2">
                        <i class="fa fa-mountain text-muted"></i>
                        City/Town: <strong>{{ object.city }}</strong>
                    </div>

                    <div class="mb-2">
                        <i class="fa fa-globe text-muted"></i>
                        Country: <strong>{{ object.country }}</strong>
                    </div>

                    <div class="mb-2">
                        <i class="fa fa-map-marked text-muted"></i>
                        Location: <strong class="small">{{ object.latitude }} - {{ object.longitude }}</strong>
                    </div>

                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <div>
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="card-title">Description</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-actions">
                        <a href="#" class="btn">
                            <i class="fa fa-edit"></i>
                            &nbsp;Edit
                        </a>
                    </div>
                </div>
                <div class="card-body">

                    <div class="">
                        {{ object.description|safe }}
                    </div>

                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <div>
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="card-title">Notes</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-actions">
                        <a href="#" class="btn">
                            <i class="fa fa-edit"></i>
                            &nbsp;Edit
                        </a>
                    </div>
                </div>
                <div class="card-body">

                    <div class="">
                        {{ object.notes|safe }}
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}