{% extends 'core/base.html' %}
{% load static %}
{% load custom_tags %}

{% block base_title %}Time Clock{% endblock %}
{% block base_subhead_heading %} Time Clock {% endblock %}


{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div id="news-feed-index-table" data-livecount="0">

                        <form method="get">
                            <div class="input-group">
                                {{ filter_form }}
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                    <a href="{% url 'admins:time-clock' %}?shift_date=today&shift__employee__user__username="
                                       class="btn btn-danger">
                                        <i class="mdi mdi-refresh"></i>
                                    </a>
                                </div>
                            </div>
                        </form>

                        </p>
                        <hr>

                        <div class="table-responsive" id="table">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>Shift</th>
                                    <th>Employee</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Shift Time</th>
                                    <th>Billed Time</th>
                                    <th>Shift Hours</th>
                                    <th>Active Hours</th>
                                    <th>Extra Hours</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>
                                            <b>
                                                <a href="{% url 'admins:shift-detail' object.shift.pk %}">
                                                    {{ object.shift.pk }}
                                                </a>
                                            </b>
                                        </td>
                                        <td>
                                            <b>
                                                <a href="{% url 'admins:user-detail' object.shift.employee.user.pk %}">
                                                    {{ object.shift.employee }}
                                                </a>
                                            </b>
                                        </td>
                                        <td>{{ object.shift_date }}</td>
                                        <td>{{ object.shift_end_date }}</td>
                                        <td>{{ object.shift.start_time }}</td>
                                        <td>{{ object.shift.end_time }}</td>
                                        <td>
                                            {{ object.shift_hours }}
                                        </td>
                                        <td>
                                            {{ object.worked_hours }}
                                        </td>
                                        <td>
                                            {{ object.extra_hours }}
                                        </td>
                                        <td id="btn-div-{{ object.pk }}">
                                            {% if object.get_shift_action == "awa" %}
                                                <button type="button" id="status_change_btn" data-action="run"
                                                        data-id="{{ object.pk }}" class="btn btn-sm btn-primary">
                                                    <i class="fa fa-clock"></i> Clock In
                                                </button>
                                            {% elif object.get_shift_action == "run" %}
                                                <button type="button" class="btn btn-sm btn-warning"
                                                        id="status_change_btn" data-action="com"
                                                        data-id="{{ object.pk }}">
                                                    <i class="fa fa-clock"></i> Clock Out
                                                </button>
                                            {% elif object.get_shift_action == "com" %}
                                                <span class="badge badge-success">
                                                    <i class="mdi mdi-call-missed"></i> completed
                                                </span>
                                            {% else %}
                                                <span class="badge badge-danger">
                                                    <i class="mdi mdi-call-missed"></i> Missed
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <hr>
                        <ul class="pagination">
                            {% if object_list.has_previous %}
                                <li>
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                                </li>
                            {% endif %}
                            <li class="">
                                <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                            </li>
                            {% if object_list.has_next %}
                                <li>
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                                </li>
                            {% endif %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');

            $('#table #status_change_btn').on("click", function (event) {
                const id = $(this).attr('data-id')
                const status = $(this).attr('data-action')

                $.get("/a/api/shift-day/" + id + "/status/" + status + "/change/", function (data, status) {
                    if (status === 'success') {
                        location.reload();
                    }
                });

            });


        });
    </script>
{% endblock %}