{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block base_subtitle %} Time Clock{% endblock %}
{% block base_subhead_heading %} Time Clock &rAarr; Details{% endblock %}
{% block base_subhead_paragraph %}View and apply actions on time clock{% endblock %}

{% block base_css %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    {% csrf_token %}
                    <form method="get" id="filter-form">
                        <div class="input-group">
                            {{ filter_form }}
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
                                         width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                         stroke="currentColor" fill="none" stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="10" cy="10" r="7"></circle>
                                        <line x1="21" y1="21" x2="15" y2="15"></line>
                                    </svg>
                                </button>
                                <a href="{% url 'admins:time-clock' %}?shift_date=today&shift__employee__user__username="
                                   class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paint"
                                         width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                         stroke="currentColor" fill="none" stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="5" y="3" width="14" height="6" rx="2"></rect>
                                        <path d="M19 6h1a2 2 0 0 1 2 2a5 5 0 0 1 -5 5l-5 0v2"></path>
                                        <rect x="10" y="15" width="4" height="6" rx="1"></rect>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>

                {% if object_list %}
                    <div class="table-responsive" id="table">
                        <table class="table table-hover card-table table-vcenter text-nowrap datatable">
                            <thead class="thead-light">
                            <tr>
                                <th>Status</th>
                                <th>Employee</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Clock In</th>
                                <th>Clock Out</th>
                                <th>Hours</th>
                                <th>Action</th>
                                <th>-</th>
                            </tr>
                            </thead>
                            <tbody class="infinite-container">
                            {% for object in object_list %}
                                {% with current_status=object.get_current_status %}
                                    <tr id="row_{{ object.pk }}" class="infinite-item">
                                    <td>
                                        {% if current_status == "completed" %}
                                            <span class="badge bg-success-lt">{{ current_status }}</span>
                                        {% elif current_status == "running" %}
                                            <span class="badge bg-primary-lt">{{ current_status }}</span>
                                        {% elif current_status == "overtime" %}
                                            <span class="badge bg-yellow-lt">{{ current_status }}</span>
                                        {% elif current_status == "awaiting" %}
                                            <span class="badge bg-purple-lt">{{ current_status }}</span>
                                        {% elif current_status == "late" %}
                                            <span class="badge bg-danger-lt">{{ current_status }}</span>
                                        {% elif current_status == "absent" %}
                                            <span class="badge bg-dark-lt">{{ current_status }}</span>
                                        {% else %}
                                            <span class="badge bg-secondary-lt">{{ current_status }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <b>
                                            {% if object.employee %}
                                                <a href="{% url 'admins:user-detail' object.employee.user.pk %}">
                                                    <b>
                                                        <span class="badge bg-primary me-1"></span> {{ object.employee.user.get_user_name }}
                                                    </b>
                                                </a>
                                            {% else %}
                                                <b class="text-danger">
                                                    <span class="badge bg-danger me-1"></span> Not Assigned
                                                </b>
                                            {% endif %}
                                        </b>
                                    </td>
                                    <td>{{ object.shift_date }} - {{ object.shift_end_date }}</td>
                                    <td>{{ object.shift.start_time|date:"G:i" }}
                                        - {{ object.shift.end_time|date:"G:i" }}
                                    </td>
                                    {#                                    {{ my_time.time|date:"G:i:s" }}#}
                                    <td style="width: 100px">
                                        {% if not object.is_clock_in_correct %}
                                            <input class="custom_clock_in_class border-danger bg-danger-lt" type="text"
                                                   id="id_clock_in" data-id="{{ object.pk }}"
                                                   value="{{ object.clock_in|date:"G:i" }}"
                                            >
                                        {% else %}
                                            <input class="custom_clock_in_class border" type="text"
                                                   id="id_clock_in" data-id="{{ object.pk }}"
                                                   value="{{ object.clock_in|date:"G:i" }}"
                                            >
                                        {% endif %}
                                    </td>
                                    <td style="width: 100px">

                                        {% if not object.is_clock_out_correct %}
                                            <input class="custom_clock_out_class border-danger bg-danger-lt" type="text"
                                                   id="id_clock_out" data-id="{{ object.pk }}"
                                                   value="{{ object.clock_out|date:"G:i" }}"
                                            >
                                        {% else %}
                                            <input class="custom_clock_out_class" type="text"
                                                   id="id_clock_out" data-id="{{ object.pk }}"
                                                   value="{{ object.clock_out|date:"G:i" }}"
                                            >
                                        {% endif %}
                                    </td>
                                    <td>
                                        <b>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="icon icon-tabler icon-tabler-clock-record" width="24"
                                                 height="24"
                                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                 stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M20.995 12.3a9 9 0 1 0 -8.683 8.694"></path>
                                                <path d="M12 7v5l2 2"></path>
                                                <circle cx="19" cy="19" r="3"></circle>
                                            </svg>
                                            {{ object.get_shift_hours }}
                                        </b>
                                        &nbsp;&nbsp;&nbsp;
                                        <b>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="icon icon-tabler icon-tabler-clock-play" width="24" height="24"
                                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                 stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M12 7v5l2 2"></path>
                                                <path d="M17 22l5 -3l-5 -3z"></path>
                                                <path d="M13.017 20.943a9 9 0 1 1 7.831 -7.292"></path>
                                            </svg>
                                            {{ object.get_active_hours }}
                                        </b>
                                        &nbsp;&nbsp;&nbsp;
                                        <b>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="icon icon-tabler icon-tabler-clock-pause" width="24" height="24"
                                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                 stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M13 20.94a8.916 8.916 0 0 1 -7.364 -2.576a9 9 0 1 1 15.306 -5.342"></path>
                                                <path d="M12 7v5l2 2"></path>
                                                <path d="M17 17v5"></path>
                                                <path d="M21 17v5"></path>
                                            </svg>
                                            {{ object.get_extra_hours }}
                                        </b>
                                    </td>
                                    <td id="btn-div-{{ object.pk }}">
                                        {% with current_status=object.get_current_status %}
                                            {% if not object.clock_in %}
                                                <button type="button" id="btn_clock_in_{{ object.pk }}"
                                                        data-action="in"
                                                        data-id="{{ object.pk }}"
                                                        class="btn btn-sm btn-primary custom_btn_clock_in"
                                                >
                                                    <i class="fa fa-clock"></i>&nbsp;Clock In
                                                </button>
                                            {% elif not object.clock_out %}
                                                <button type="button"
                                                        class="btn btn-sm btn-warning custom_btn_clock_out"
                                                        id="btn_clock_in_{{ object.pk }}" data-action="out"
                                                        data-id="{{ object.pk }}">
                                                    <i class="fa fa-clock"></i>&nbsp;Clock Out
                                                </button>
                                            {% else %}
                                                {% if current_status == "completed" %}
                                                    <b class="text-success">{{ current_status }}</b>
                                                {% elif current_status == "running" %}
                                                    <b class="text-azure">{{ current_status }}</b>
                                                {% else %}
                                                    <b class="text-dark">{{ current_status }}</b>
                                                {% endif %}
                                            {% endif %}
                                        {% endwith %}
                                    </td>
                                    <td>
                                        <button id="time_update_model_btn" data-id="{{ object.pk }}"
                                                data-end="{{ object.clock_out|date:"G:i" }}"
                                                data-start="{{ object.clock_in|date:"G:i" }}"
                                                class="btn btn-sm btn-outline-primary"
                                                data-action="{% url 'admins:admins-json:shift_day_change' object.pk %}"
                                                data-method="#">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                {% endwith %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if object_list.has_next %}
                        <div class="card-footer">
                            <ul class="pagination">
                                <a class="infinite-more-link" href="?page={{ object_list.next_page_number }}">
                                    <b><i class="fa fa-cog fa fa-spin"></i> Loading</b>
                                </a>
                            </ul>
                        </div>
                    {% endif %}

                {% else %}

                    <div class="card-body">
                        <p class="text-danger mb-0"><b>No objects available</b></p>
                    </div>

                {% endif %}

            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="time_update_model">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <h5 class="modal-title border-0">
                        <b><i class="fa fa-clock"></i>&nbsp; SHIFT CLOCK</b>
                    </h5>

                    <form method="post" id="time_form">
                        {% csrf_token %}
                        {{ shift_day_form|crispy }}
                        <div class="mt-3">
                            <button type="button" id="time_update_model_btn_submit" data-action="" data-id=""
                                    class="btn btn-primary btn-lg">
                                <i class="fa fa-check-circle"></i> Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block base_internal_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <script src="{% static 'libs/waypoint/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'libs/waypoint/infinite.min.js' %}"></script>
{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            init();

            function init() {
                $('#filter-form label').hide();
                $('input').addClass('form-control');
                $('select').addClass('form-control');

                $("#id_shift_date option:first").text("-- Start Date --");
                $("#id_shift_end_date option:first").text("-- End Date --");
                $('#time_update_model input').addClass('mb-2')

                $('body #id_clock_in').datetimepicker({
                    datepicker: false,
                    format: 'H:i'
                });

                $('body #id_clock_out').datetimepicker({
                    datepicker: false,
                    format: 'H:i'
                });

                $('body #time_clock_in').datetimepicker({
                    datepicker: false,
                    format: 'H:i'
                });

                $('body #time_clock_out').datetimepicker({
                    datepicker: false,
                    format: 'H:i'
                });

                $('body #time_update_model_btn').click(function () {
                    const start_date = $(this).data('start');
                    const end_date = $(this).data('end');
                    const id = $(this).data('id');
                    const action = $(this).data('action');

                    $('#time_update_model #id_clock_in').val(start_date)
                    $('#time_update_model #id_clock_out').val(end_date)
                    $('#time_update_model #time_update_model_btn_submit').data('action', action)
                    $('#time_update_model #time_update_model_btn_submit').data('id', id)

                    $('#time_update_model').modal('show');
                })

                $('body #time_update_model_btn_submit').click(function () {
                    const id = $(this).data('id');
                    const action = $(this).data('action');
                    const form = $('#time_update_model form').serialize();

                    $.ajax({
                        url: action,
                        type: "POST",
                        data: form,
                        success: function (data) {
                            if (!(data['success'])) {
                                $('form').replaceWith(data['form_html']);
                            } else {
                                location.reload();
                            }
                        },
                        error: function () {
                            $('form').find('.error-message').show()
                        }
                    });

                })

                $('body .custom_btn_clock_in').click(function (event) {
                    event.preventDefault();

                    let shift_day_id = $(this).data('id');
                    let start_time = $('body #row_' + shift_day_id + ' #id_clock_in').val();
                    let end_time = $('body #row_' + shift_day_id + ' #id_clock_out').val();

                    $.ajax({
                        type: "POST",
                        url: "/a/api/shift-day/" + shift_day_id + "/clock/in/",
                        data: {
                            start_time: start_time,
                            end_time: end_time,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        dataType: 'application/json',
                    }).then(function (data, status) {
                        console.log(status);
                    });
                    location.reload();
                })

                $('body .custom_btn_clock_out').click(function (event) {
                    event.preventDefault();

                    let shift_day_id = $(this).data('id');
                    let start_time = $('body #row_' + shift_day_id + ' #id_clock_in').val();
                    let end_time = $('body #row_' + shift_day_id + ' #id_clock_out').val();

                    $.ajax({
                        type: "POST",
                        url: "/a/api/shift-day/" + shift_day_id + "/clock/out/",
                        data: {
                            start_time: start_time,
                            end_time: end_time,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        dataType: 'application/json',
                    }).then(function (data, status) {
                        console.log(status);
                    });
                    location.reload();
                })

                $('#table #status_change_btn').on("click", function (event) {
                    const id = $(this).attr('data-id')
                    const status = $(this).attr('data-action')

                    $.get("/a/api/shift-day/" + id + "/status/" + status + "/change/", function (data, status) {
                        if (status === 'success') {
                            location.reload();
                        }
                    });
                });
            }

            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                onBeforePageLoad: function () {
                    $('.loading').show();
                },
                onAfterPageLoad: function ($items) {

                    $('.loading').hide();
                    init();
                }
            });


        });
    </script>
{% endblock %}