{% extends 'core/base.html' %}
{% load static %}
{% load custom_tags %}

{% block base_title %}admins | Users{% endblock %}
{% block base_subhead_heading %}Users{% endblock %}
{% block base_subhead_paragraph %}List of available users{% endblock %}
{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'admins:user-employee-add' %}">
        <i class="fa fa-plus"></i> New Employee
    </a>
{% endblock %}

{% block base_content %}

    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body border-bottom">
                    <form method="get">
                        <div class="input-group">
                            {{ filter_form }}
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-body">
                    {% if object_list %}

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>Username</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Email</th>
                                    <th>Type</th>
                                    <th>Joined</th>
                                    <th>Last Login</th>
                                    <th>Status</th>
                                    <th>-</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in object_list %}
                                    <tr class="{% if object.is_superuser %}bg-danger text-white{% endif %}">
                                        <td>{{ object.username }}</td>
                                        <td>{{ object.employee }}</td>
                                        <td>{{ object.last_name }}</td>
                                        <td>{{ object.email }}</td>
                                        <td>
                                            {% if object.is_superuser %}
                                                <b class="text-danger"><i class="fa fa-user-cog"></i> Admin</b>
                                            {% else %}
                                                {% if object.is_staff %}
                                                    <b class="text-danger"><i class="fa fa-user-cog"></i>
                                                        Staff
                                                    </b>
                                                {% elif object.is_employee %}
                                                    <b class="text-success"><i class="fa fa-user-check"></i>
                                                        Employee</b>
                                                {% else %}
                                                    <b class="text-secondary"><i class="fa fa-exclamation-circle"></i>
                                                        Undefined</b>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>{{ object.date_joined }}</td>
                                        <td>{{ object.last_login }}</td>
                                        <td>
                                            {% if object.is_active %}
                                                <b class="text-success">
                                                    <i class="fa fa-check-circle"></i>
                                                </b>
                                            {% else %}
                                                <b class="text-danger">
                                                    <i class="fa fa-times-circle"></i>
                                                </b>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'admins:user-detail' object.pk %}">
                                                <b class="text-primary">
                                                    <i class="fa fa-eye"></i>
                                                </b>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="mb-0 text-danger">
                            <b>
                                <i class="fa fa-exclamation-circle"></i>
                                No Users available
                            </b>
                        </p>
                    {% endif %}
                </div>

                <div class="card-body border-top">
                    <ul class="pagination">
                        {% if object_list.has_previous %}
                            <li>
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                        </li>
                        {% if object_list.has_next %}
                            <li>
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                            </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </div>


{% endblock %}


{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            $("#id_is_active option:first").text("-- Is Active --");
            $("#id_is_employee option:first").text("-- Is Employee --");

            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');

        });
    </script>
{% endblock %}