{% extends 'core/base.html' %}
{% load static %}

{% block base_subtitle %}User Details{% endblock %}
{% block base_content %}

    {# TOP HEAD -- BLINKING #}
    <div class="row align-items-center">
        <div class="col-auto">
                <span class="status-indicator status-green status-indicator-animated">
                  <span class="status-indicator-circle"></span>
                  <span class="status-indicator-circle"></span>
                  <span class="status-indicator-circle"></span>
                </span>
        </div>
        <div class="col-auto">
            <img class="rounded-circle" src="{% static 'required/images/no-image.jpg' %}" height="50">
        </div>
        <div class="col">
            <h2 class="page-title">
                {{ object.get_user_name }}
            </h2>
            <div class="text-muted">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><span class="text-green">Active</span></li>
                    <li class="list-inline-item">Created On: {{ object.date_joined }}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-auto ms-auto d-print-none">
            <div class="btn-list">
                <a href="#" class="text-azure">
                    <i class="fa fa-edit"></i> Edit
                </a>
            </div>
        </div>
    </div>

    {# PPOWER HEAD -- ROW #}
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <table>
                                <tr>
                                    <th>ID</th>
                                    <td>&roarr; #{{ object.pk }}</td>
                                </tr>
                                <tr>
                                    <th>Username</th>
                                    <td>&roarr; {{ object.username }}</td>
                                </tr>
                                <tr>
                                    <th>Full Name</th>
                                    <td>
                                        &roarr;
                                        {% if object.is_first_or_last_name %}
                                            {{ object.get_user_name }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>
                                        {% if object.email %}
                                            <a href="mailto:{{ object.email }}">&roarr; {{ object.email }}</a>
                                        {% else %}
                                            <a>&roarr; --</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>
                                        {% if object.phone_number %}
                                            <a href="tel:{{ object.phone_number }}">&roarr; {{ object.phone_number }}</a>
                                        {% else %}
                                            <a>&roarr; --</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Role</th>
                                    <td>
                                        {% if object.is_superuser %}
                                            <span class="badge bg-danger-lt">Admin</span>
                                        {% else %}
                                            {% if object.is_staff %}
                                                <span class="badge bg-purple-lt">
                                                    Staff
                                                </span>
                                            {% elif object.is_employee %}
                                                <b class="badge bg-success-lt">
                                                    Employee</b>
                                            {% else %}
                                                <b class="badge bg-warning-lt">
                                                    Undefined</b>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col">
                            <table>
                                <tr class="">
                                    <th>Access</th>
                                    <td>
                                        <label class="form-check form-switch mt-2">
                                            <input class="form-check-input" type="checkbox" checked>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>2 Step Auth</th>
                                    <td>
                                        <label class="form-check form-switch mt-2">
                                            <input class="form-check-input" type="checkbox" checked>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Created On</th>
                                    <td class="text-muted"><cite>{{ object.date_joined }}</cite></td>
                                </tr>
                                <tr>
                                    <th>Last Login</th>
                                    <td class="text-muted"><cite>{{ object.last_login }}</cite></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {# TABS AREA #}
    <div class="row mt-4">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a href="#tabs-details" class="nav-link active" data-bs-toggle="tab" aria-selected="true"
                               role="tab">
                                <i class="fa fa-home"></i>&nbsp;Details
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#tabs-employment" class="nav-link " data-bs-toggle="tab" aria-selected="false"
                               role="tab" tabindex="-1">
                                <i class="fa fa-briefcase"></i>&nbsp;Employment
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#tabs-expertise" class="nav-link " data-bs-toggle="tab" aria-selected="false"
                               role="tab" tabindex="-1">
                                <i class="fa fa-hammer"></i>&nbsp;Expertise
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#tabs-background" class="nav-link " data-bs-toggle="tab" aria-selected="false"
                               role="tab" tabindex="-1">
                                <i class="fa fa-history"></i>&nbsp;Background
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#tabs-hal" class="nav-link " data-bs-toggle="tab" aria-selected="false"
                               role="tab" tabindex="-1">
                                <i class="fa fa-heart"></i>&nbsp;Health and Look
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#tabs-docs" class="nav-link " data-bs-toggle="tab" aria-selected="false"
                               role="tab" tabindex="-1">
                                <i class="fa fa-pagelines"></i>&nbsp;Docs
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#tabs-settings" class="nav-link " data-bs-toggle="tab" aria-selected="false"
                               role="tab" tabindex="-1">
                                <i class="fa fa-cogs"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">

                        {# TAB1: details #}
                        <div class="tab-pane active show" id="tabs-details" role="tabpanel">
                            <div class="row">

                                {# LEFT #}
                                <div class="col-sm-6">
                                    <dl class="row">
                                        <div class="hr-text">
                                            <span>Personal Details</span>
                                        </div>

                                        <dt class="col-5">Gender:</dt>
                                        <dd class="col-7">Male</dd>
                                        <dt class="col-5">Employee ID:</dt>
                                        <dd class="col-7">#6217176</dd>
                                        <dt class="col-5">Type:</dt>
                                        <dd class="col-7">Holy Knight</dd>
                                        <dt class="col-5">Nationality:</dt>
                                        <dd class="col-7">Spartan</dd>
                                        <dt class="col-5">POB:</dt>
                                        <dd class="col-7">Sparta</dd>

                                        <dt class="col-5">Date of Birth:</dt>
                                        <dd class="col-7">01/01/1000 BC</dd>
                                        <dt class="col-5">City of Birth:</dt>
                                        <dd class="col-7">Sparta</dd>
                                        <dt class="col-5">Country of Birth:</dt>
                                        <dd class="col-7">Greece</dd>


                                        <div class="hr-text">
                                            <span>contact Details</span>
                                        </div>

                                        <dt class="col-5">Extra contact:</dt>
                                        <dd class="col-7">+92000000000</dd>
                                        <dt class="col-5">Address:</dt>
                                        <dd class="col-7">Spartans Home #1, battles of 200 grounds</dd>
                                        <dt class="col-5">City/Town:</dt>
                                        <dd class="col-7">sparta</dd>
                                        <dt class="col-5">Post Code:</dt>
                                        <dd class="col-7">010101</dd>
                                        <dt class="col-5">Country:</dt>
                                        <dd class="col-7">Greek</dd>
                                    </dl>
                                </div>

                                {# RIGHT #}
                                <div class="col-sm-6">
                                    <div class="hr-text">
                                        <span>Departments</span>
                                    </div>
                                    <div>
                                        <span class="badge bg-lime-lt">Knight</span>
                                        <span class="badge bg-lime-lt">Sword</span>
                                        <span class="badge bg-lime-lt">Arrow</span>
                                        <span class="badge bg-primary-lt">+ Add more</span>
                                    </div>

                                    <div class="hr-text">
                                        <span>Sites</span>
                                    </div>
                                    <div>
                                        <span class="badge bg-danger-lt">Knight</span>
                                        <span class="badge bg-danger-lt">Sword</span>
                                        <span class="badge bg-danger-lt">Arrow</span>
                                        <span class="badge bg-danger-lt">Siege</span>
                                        <span class="badge bg-danger-lt">Castle</span>
                                        <span class="badge bg-primary-lt">+ Add more</span>
                                    </div>

                                    <div class="hr-text">
                                        <span>Positions</span>
                                    </div>
                                    <div>
                                        <span class="badge bg-cyan-lt">King</span>
                                        <span class="badge bg-cyan-lt">Queen</span>
                                        <span class="badge bg-cyan-lt">General</span>
                                        <span class="badge bg-cyan-lt">Clone</span>
                                        <span class="badge bg-cyan-lt">Soldier</span>
                                        <span class="badge bg-cyan-lt">Judge</span>
                                        <span class="badge bg-primary-lt">+ Add more</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        {# TAB2: employment #}
                        <div class="tab-pane" id="tabs-employment" role="tabpanel">
                            <div class="row">
                                {# LEFT #}
                                <div class="col-sm-6">
                                    <dl class="row">
                                        <div class="hr-text">
                                            <span>Personal Details</span>
                                        </div>

                                        <dt class="col-5">Gender:</dt>
                                        <dd class="col-7">Male</dd>
                                        <dt class="col-5">Employee ID:</dt>
                                        <dd class="col-7">#6217176</dd>
                                        <dt class="col-5">Type:</dt>
                                        <dd class="col-7">Holy Knight</dd>
                                        <dt class="col-5">Nationality:</dt>
                                        <dd class="col-7">Spartan</dd>
                                        <dt class="col-5">POB:</dt>
                                        <dd class="col-7">Sparta</dd>

                                    </dl>
                                </div>

                                {# RIGHT #}
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="hr-text">
                                            <span>contact Details</span>
                                        </div>

                                        <dt class="col-5">Extra contact:</dt>
                                        <dd class="col-7">+92000000000</dd>
                                        <dt class="col-5">Address:</dt>
                                        <dd class="col-7">Spartans Home #1, battles of 200 grounds</dd>
                                        <dt class="col-5">City/Town:</dt>
                                        <dd class="col-7">sparta</dd>
                                        <dt class="col-5">Post Code:</dt>
                                        <dd class="col-7">010101</dd>
                                        <dt class="col-5">Country:</dt>
                                        <dd class="col-7">Greek</dd>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# TAB2: expertise #}
                        <div class="tab-pane" id="tabs-expertise" role="tabpanel">
                            <div>
                                ...
                            </div>
                        </div>

                        {# TAB2: Background #}
                        <div class="tab-pane" id="tabs-background" role="tabpanel">
                            <div>
                                ...
                            </div>
                        </div>

                        {# TAB2: HAL #}
                        <div class="tab-pane" id="tabs-hal" role="tabpanel">

                            <div class="row">
                                {# LEFT #}
                                <div class="col-sm-6">
                                    <dl class="row">
                                        <div class="hr-text">
                                            <span>Appearance Details</span>
                                        </div>

                                        <dt class="col-5">Gender:</dt>
                                        <dd class="col-7">Male</dd>
                                        <dt class="col-5">Employee ID:</dt>
                                        <dd class="col-7">#6217176</dd>
                                        <dt class="col-5">Type:</dt>
                                        <dd class="col-7">Holy Knight</dd>
                                        <dt class="col-5">Nationality:</dt>
                                        <dd class="col-7">Spartan</dd>
                                        <dt class="col-5">POB:</dt>
                                        <dd class="col-7">Sparta</dd>

                                        <dt class="col-5 mt-4">Gender:</dt>
                                        <dd class="col-7 mt-4">Male</dd>
                                        <dt class="col-5">Employee ID:</dt>
                                        <dd class="col-7">#6217176</dd>
                                        <dt class="col-5">Type:</dt>
                                        <dd class="col-7">Holy Knight</dd>
                                        <dt class="col-5">Nationality:</dt>
                                        <dd class="col-7">Spartan</dd>
                                        <dt class="col-5">POB:</dt>
                                        <dd class="col-7">Sparta</dd>

                                        <dt class="col-5 mt-4">Gender:</dt>
                                        <dd class="col-7 mt-4">Male</dd>
                                        <dt class="col-5">Employee ID:</dt>
                                        <dd class="col-7">#6217176</dd>
                                        <dt class="col-5">Type:</dt>
                                        <dd class="col-7">Holy Knight</dd>
                                        <dt class="col-5">Nationality:</dt>
                                        <dd class="col-7">Spartan</dd>
                                        <dt class="col-5">POB:</dt>
                                        <dd class="col-7">Sparta</dd>
                                    </dl>
                                </div>

                                {# RIGHT #}
                                <div class="col-sm-6">
                                    <dl class="row">
                                        <div class="hr-text">
                                            <span>Health Details</span>
                                        </div>
                                        <dt class="col-5">Extra contact:</dt>
                                        <dd class="col-7">+92000000000</dd>
                                        <dt class="col-5">Address:</dt>
                                        <dd class="col-7">Spartans Home #1, battles of 200 grounds</dd>
                                        <dt class="col-5">City/Town:</dt>
                                        <dd class="col-7">sparta</dd>
                                        <dt class="col-5">Post Code:</dt>
                                        <dd class="col-7">010101</dd>
                                        <dt class="col-5">Country:</dt>
                                        <dd class="col-7">Greek</dd>
                                    </dl>
                                </div>
                            </div>

                        </div>

                        {# TAB2: DOCS #}
                        <div class="tab-pane" id="tabs-docs" role="tabpanel">
                            <div>
                                ...
                            </div>
                        </div>

                        {# TAB2: SEttings #}
                        <div class="tab-pane" id="tabs-settings" role="tabpanel">
                            <div>
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}