{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_subtitle %}Password Change{% endblock %}
{% block base_subhead_heading %}User &rAarr; Password Change {% endblock %}
{% block base_subhead_paragraph %}There is no way to see user's password but you can reset.{% endblock %}
{% block base_subhead_button %}
    <b>
        <a class="" href="{% url 'admins:user-detail' form.user.pk %}">
            &larr; user
        </a>
    </b>
{% endblock %}
{% block base_content %}

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">

                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-check-circle"></i> Submit
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}