{% extends 'core/base.html' %}
{% load static %}

{% block base_css %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>

{% endblock %}

{% block base_subtitle %}User Details{% endblock %}
{% block base_content %}

    {# TOP HEAD -- BLINKING #}
    <div class="row align-items-center">
        <div class="col-auto">
                <span class="status-indicator status-green status-indicator-animated">
                  <span class="status-indicator-circle"></span>
                  <span class="status-indicator-circle"></span>
                  <span class="status-indicator-circle"></span>
                </span>
        </div>
        <div class="col-auto">
            <img class="rounded-circle" src="{% static 'required/images/no-image.jpg' %}" height="50">
        </div>
        <div class="col">
            <h2 class="page-title">
                {{ object.get_user_name }}
            </h2>
            <div class="text-muted">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><span class="text-green">Active</span></li>
                    <li class="list-inline-item">Created On: {{ object.date_joined }}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-auto ms-auto d-print-none">
            <div class="btn-list">
                <a href="{% url 'admins:user-update' object.pk %}" class="text-azure">
                    <i class="fa fa-edit"></i> Edit
                </a>
                <a href="{% url 'admins:user-password-reset' object.pk %}" class="text-azure">
                    <i class="fa fa-code"></i> Password Reset
                </a>
            </div>
        </div>
    </div>

    {# PPOWER HEAD -- ROW #}
    <div class="row mt-4">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <table>
                                <tr>
                                    <th>ID</th>
                                    <td>&roarr; #{{ object.pk }}</td>
                                </tr>
                                <tr>
                                    <th>Username</th>
                                    <td>&roarr; {{ object.username }}</td>
                                </tr>
                                <tr>
                                    <th>Full Name</th>
                                    <td>
                                        &roarr;
                                        {% if object.is_first_or_last_name %}
                                            {{ object.get_user_name }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>
                                        {% if object.email %}
                                            <a href="mailto:{{ object.email }}">&roarr; {{ object.email }}</a>
                                        {% else %}
                                            <a>&roarr; --</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>
                                        {% if object.phone_number %}
                                            <a href="tel:{{ object.phone_number }}">&roarr; {{ object.phone_number }}</a>
                                        {% else %}
                                            <a>&roarr; --</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Role</th>
                                    <td>&roarr;
                                        {% if object.is_superuser %}
                                            <span class="badge bg-danger-lt">Admin</span>
                                        {% else %}
                                            {% if object.is_staff %}
                                                <span class="badge bg-purple-lt">
                                                    Staff
                                                </span>
                                            {% elif object.is_employee %}
                                                <b class="badge bg-success-lt">
                                                    Employee</b>
                                            {% else %}
                                                <b class="badge bg-warning-lt">
                                                    Undefined</b>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-sm-6">
                            <table>
                                <tr class="">
                                    <th>Access</th>
                                    <td>
                                        <label class="form-check form-switch mt-2">
                                            <input class="form-check-input" type="checkbox" checked>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>2 Step Auth</th>
                                    <td>
                                        <label class="form-check form-switch mt-2">
                                            <input class="form-check-input" type="checkbox" checked>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Created On</th>
                                    <td class="text-muted"><cite>&roarr; {{ object.date_joined }}</cite></td>
                                </tr>
                                <tr>
                                    <th>Last Login</th>
                                    <td class="text-muted"><cite>&roarr; {{ object.last_login }}</cite></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card bg-warning-lt h-100">
                <div class="card-header">
                    <b class="text-warning">Notes</b>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

    {% if object.is_employee %}
        {% include 'admins/include/user_detail_tabs.html' %}
    {% endif %}

{% endblock %}

{% block base_internal_scripts %}
    <script src="{% static 'core/plugins/repeater/jquery.repeater.min.js' %}"></script>
    <script src="{% static 'core/pages/jquery.form-repeater.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% endblock %}