{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}admins | Create User {% endblock %}
{% block base_subhead_heading %} Create User {% endblock %}
{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'admins:user-list' %}"><i class="fa fa-arrow-left"></i> Users</a>
{% endblock %}


{% block base_content %}

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">

                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-check-circle"></i> Submit
                        </button>
                    </form>

                </div>
            </div>
        </div>

    </div>

{% endblock %}